{% extends "core/base.html" %}
{% load static %}
{% block title %}Combats{% endblock title %}
{% block meta_description%}Page des combats, Requetes de combat {% endblock meta_description%}
{% block content %}
<style>
    body {
        background-color: #1a202c;
        color: #e2e8f0;
    }
    .battle-card {
        transition: transform 0.3s ease-in-out;
    }
    .battle-card:hover {
        transform: translateY(-5px);
    }
    .filter-button.active {
        background-color: #f37309;
        color: #1a202c;
    }
    .filter-container::-webkit-scrollbar {
            height: 6px;
        }
    .filter-container::-webkit-scrollbar-thumb {
            background-color: #4a5568;
            border-radius: 3px;
        }
    @media (max-width: 640px) {
        .filter-container {
            flex-wrap: nowrap;
            overflow-x: auto;
            padding-bottom: 1rem;
        }
        .filter-button {
            flex: 0 0 auto;
        }
    }
    @media (min-width: 640px){
        .filter-container {
        justify-content: center;
        }
    }
</style>

<div class="mt-10" >-</div>
<div class="max-w-2xl mt-5 mx-auto px-4 py-6 space-y-6">
    <!-- Player Info Section -->
    <!-- Existing content remains unchanged -->

    <!-- Battle Request Creation -->
    
    <form onsubmit="showOverlay();console.log('submitted')" id="battleRequestForm" class="bg-gray-900 rounded-2xl shadow-md p-5 space-y-4" method="post" action="{% url 'battles:request' %}">
            {% csrf_token %} 
      <h2 class="text-xl font-semibold">Créer une Réquete de Combat</h2>

      <!-- Character Selection -->
      <div class="space-y-2">
        <label class="inline-block text-sm font-medium">Choisie ton personnage</label>

        <!-- Search Input -->
        <input id="character-search" type="text" placeholder="rechercher personnage..."
          class="w-full px-4 py-2 rounded-lg border border border-gray-700 bg-gray-800 mb-3">

        <!-- Character Scrollable Selection -->
        <div id="character-list" class="flex relative w-96 h-32 overflow-x-auto gap-4 pb-2">
            <!-- <label class="relative group cursor-pointer shrink-0">
                <input type="radio" name="character" value="{{characters.0.name}}" class="hidden peer" checked>
                
                <img src="{% static 'images/loaders/img-loader.gif' %}" onload = "replacePlaceholder(this,'{{characters.0.images.1}}')" data-name="{{characters.0.name}}" class="rounded-xl border-2 border-transparent peer-checked:border-orange-500 transition w-28 h-28 object-cover" />
                <div class="absolute bottom-2 left-2 bg-black bg-opacity-50 text-white text-xs px-2 py-1 rounded">{{characters.0.name}}</div>
            </label> -->
          {% for character in characters  %}
            <label class="relative group cursor-pointer shrink-0">
            <input type="radio" name="character" value="{{character.name}}" class="character-input hidden peer">
            {% if character.images.1 %}
            <img src="{% static 'images/loaders/img-loader.gif' %}" onload ="replacePlaceholder(this,'{{character.images.1}}')" data-name="{{character.name}}" class="rounded-xl border-2 border-transparent peer-checked:border-orange-500 transition w-28 h-28 object-cover" />
            {% else %}
            <img src="{% static 'images/loaders/img-loader.gif' %}" onload ="replacePlaceholder(this,'{{character.images.0}}')" data-name="{{character.name}}" class="rounded-xl border-2 border-transparent peer-checked:border-orange-500 transition w-28 h-28 object-cover" />
            {% endif %}
            
            <div class="absolute bottom-2 left-2 bg-black bg-opacity-50 text-white text-xs px-2 py-1 rounded">{{character.name}}</div>
          </label>
          {% endfor %}

          <div id="character-loading-indicator" class="hidden absolute w-full bg-black h-full bg-opacity-50  text-center">
            <!-- <i  class="fas fa-spinner "></i> -->
            <i class="fa-solid fa-circle-notch rotate w-16 h-16 text-orange-500"></i>
            <p class="text-xs">chargement des persos...</p>
        </div>
          
          <!-- Add more characters as needed -->
        </div>
      </div>


        <p class="text-sm text-gray-400">Consulte le <a href="/characters" class="text-orange-500 hover:text-orange-600">catalogue de personnages</a> pour connaître tous les jutsu de tes personnages préférés.</p>

      <!-- Battle Type Selection -->
      <div class="space-y-2">
        <label class="block text-sm font-medium">Type de Combat</label>
        <select id="battleType-select" name="type" class="w-full px-4 py-2 rounded-lg border border-gray-700 bg-gray-800">
            <option value = "friendly">Amicale</option>
            <option value = "stake">Stake</option>
            <option value = "rumble" disabled>Rumble</option>
        </select>
        <p class="mt-2 text-gray-400 text-sm"><i class="fas fa-exclamation-triangle text-xl text-yellow-500 mr-2"></i>  des jetons de combat(JC) seront deduit en créant des RDC de type <span class="font-bold text-orange-500">stake</span>.<br><a href="#" class="text-orange-500">comment ça marçhe</a></p>
      </div>
      {% for message in messages %}
                <div class="text-sm mb-4">
                    {% if message.tags == 'error' %}
                    <p class="text-red-500 mb-2">
                        <i class="fas fa-exclamation-triangle mr-2"></i>
                        {{message}}
                    </p>
                    <a class="text-orange-500 border border-yellow-500 p-2 rounded" href="{% url 'core:battle_points' %}">Obtenir des jetons de combat</a>
                        {% else %}
                    <p class="text-green-500">
                    <i class="fas fa-check-circle mr-2"></i>
                        {{message}}
                    </p>

                    <p class="text-gray-400">
                    Tu peux consulter et voir l'état de tes requètes(RDC) <a class="text-orange-500" onclick="showOverlay()" href="/users/requests/{{player.user.username}}" >ici</a>
                    </p>
                    {% endif %}            
                </div>
                {% endfor %}

      <!-- Submit Button -->
      <button onclick="disableSubmitButton(this); "  class="request-button w-full bg-[#d45822] hover:bg-orange-600 text-white py-2 rounded-xl font-semibold transition">🚀 Envoyer la Requete</button>
    </form>
    <!-- Existing sections remain unchanged -->
  </div>
  
<main class="container max-w-2xl mx-auto pb-10 px-4">
   
    <div class="filter-container w-full mx-auto flex space-x-2 mb-6 overflow-x-auto pb-2">
        <button  data-url="/battles/filter/3" data-filter = '3' class="filter-button border border-gray-700 shadow-md px-4 py-2 rounded-xl hover:bg-gray-500 transition duration-300">
            <i class="fas fa-flag-checkered mr-2"></i>Terminé
        </button>
        <button  data-url="/battles/filter/2" data-filter = '2' class="filter-button border border-gray-700 shadow-md px-4 py-2 rounded-xl hover:bg-gray-500 transition duration-300">
            <i class="fas fa-fire mr-2"></i>En cours
        </button>
        <button data-url="/battles/requests" data-=""   class="filter-button border border-gray-700 shadow-md px-4 py-2 rounded-xl hover:bg-gray-500 transition duration-300">
            <i class="fas fa-envelope mr-2"></i>RDC
        </button>
        <button  data-url="{% url 'battles:filter' 0 %}" data-filter = '0' class="filter-button border border-gray-700 shadow-md px-4 py-2 rounded-xl hover:bg-gray-500 transition duration-300">
            <i class="fas fa-hourglass-start mr-2"></i>En attente D'arbitrage
        </button>
        <button  data-url="/battles/filter/1" data-filter = '1'  class="filter-button border border-gray-700 shadow-md px-4 py-2 rounded-xl hover:bg-gray-500 transition duration-300">
            
            <i class="fas fa-user-shield mr-2"></i>Pas commencé
        </button>
        
        
    </div>
    
    
      <script>
        function toggleSection(id) {
          const section = document.getElementById(id);
          const list = section.querySelector('.request-list');
          const arrow = section.querySelector('.arrow');
          const isOpen = list.classList.toggle('hidden');
          arrow.classList.toggle('rotate-90', !isOpen);

          const reqTypes = section.getElementsByClassName(`${id}-type`);
          
        // Convert HTMLCollection to Array and map to French
        const reqTypesArray = Array.from(reqTypes).map(reqType => {
            reqType.textContent =  battleTypeToFrench(reqType.textContent)
        });  
      
        }
        function closeAd(ad) {
            ad.parentElement.remove();
        }
      </script>
    <div class="battles-container grid mb-20 grid-cols-1 md:grid-cols-2 lg:grid-cols-1 gap-4">
        <p class="text-center text-gray-400">Les <span class="text-orange-500">requètes de combat</span> et les combat en cours, en attente, et terminé sont listé ici</p>
        <span class="text-center text-gray-400">Accepte une requete pour debuter un combat contre un autre joueur</span>

            {%  for data in packed_requests %}
            <div class="border border-gray-700 mb-2 rounded-2xl bg-opacity-90 bg-gray-900" id="requests-{{data.sender.id}}">
              <div 
                class="flex justify-between items-center p-4 cursor-pointer hover:bg-gray-700 rounded-xl transition" 
                onclick="toggleSection('requests-{{data.sender.id}}')"
              >
                <div class="text-lg flex font-semibold"><img alt="photo de profile" src="{{data.sender.profile_picture.url}}" class="w-8 h-8 border border-orange-500 rounded-full mr-2"> {{data.sender}} - <span class="text-orange-500" >{{data.sender.rank}} </span> ({{data.length}} Requêtes)</div>
                <svg 
                  class="w-4 h-4 transition-transform transform arrow" 
                  fill="none" stroke="currentColor" stroke-width="2" 
                  viewBox="0 0 24 24"
                >
                  <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
                </svg>
              </div>
    
              <div class="request-list hidden divide-y divide-gray-700">
                {% for request in  data.requests %}
                <div class="battle-card p-4 flex justify-between items-center">
                  <span>avec <span class="text-yellow-500">{{request.character}}</span> — <span class="requests-{{data.sender.id}}-type">{{request.type}}</span></span>
                  {% if request.sender != player %}
                  <button data-url="{% url 'battles:accept' request.id %}" data-requesttype="{{request.type}}" data-character="{{request.character}}" data-requestsender="{{request.sender}}" 
                   class="accept-button bg-green-600 hover:bg-green-700 text-white text-sm px-3 py-1 rounded">Accepter</button>
                   {%endif%}
                </div>
                {% endfor %}
        
              </div>
            </div>
            {%  endfor %}
        
          
        
            <div class="ad-container game animate-fadeIn">
                <span class="ad-label">Ad</span>
                <button onclick = 'closeAd(this)' class="ad-close">&times;</button>
                <a onclick = "adClick('https:\/\/frequent-doubt.com/b_3eV/0YP.3cpOvgbOmpVMJVZUDz0k2CMzzBMBzSMHjaQo3VLdTuYDzUMkzZM/yINZDvgE')" href='https://frequent-doubt.com/b_3eV/0YP.3cpOvgbOmpVMJVZUDz0k2CMzzBMBzSMHjaQo3VLdTuYDzUMkzZM/yINZDvgE' target='_blank' class="ad-content">
                    <p class="text-center">
                        <!-- Your ad content here (300x90) -->
                    </p>
                </a>
            </div>
        {% for battle in battles %}
        <div class="battle-card bg-gray-900 border border-gray-700 rounded-lg p-6 flex flex-col">
            <div class="flex justify-between items-center mb-4">
                <h3 class="text-xl font-bold">{{battle.status}}</h3>
                <span class="bg-blue-500 text-white px-2 py-1 rounded-full text-sm">{{battle.type}}</span>
            </div>
            <div class="flex justify-between items-center mb-4 flex-col">
                <div class="flex items-center">
                    <img src="{{battle.initiator.profile_picture}}" alt="Player 1" class="w-12 h-12 rounded-full mr-4">
                    <div>
                        <a href="{% url 'users:player' battle.initiator.username %}" class="font-bold hover:text-orange-600 ">{{battle.initiator.player}}</a>
                        <p class="text-sm text-gray-400">Rang: {{battle.initiator.rank}}</p>
                    </div>
                </div>
                <i class="fas fa-bolt text-yellow-500 text-2xl"></i>
                <div class="flex items-center">
                    <div class="text-right mr-4">
                        <a href="{% url 'users:player' battle.opponent.username %}" class="font-bold hover:text-orange-600 ">{{battle.opponent.player}}</a>
                        <p class="text-sm text-gray-400">Rang: {{battle.opponent.rank}}</p>
                    </div>
                    <img src="{{battle.opponent.profile_picture}}" alt="Player 2" class="w-12 h-12 rounded-full">
                </div>
            </div>
            {% if battle.can_refree %}
            <button data-battle_id="{{battle.id}}" class="proposal-btn border border-purple-500 text-purple-500 px-4 py-2 rounded-lg hover:bg-purple-600 transition duration-300 mt-auto">
                <i class="fas fa-gavel mr-2"></i>proposer d'arbitrer
            </button>
            {% else %}
            {% if battle.status != 'waiting_refree' %}
            
            <div class='flex justify-between items-center'>

            <a href="/battles/battle_room/{{battle.id}}" class="inline-block shadow-md bg-transparent border border-orange-500 text-white px-4 py-2 rounded-lg hover:bg-purple-600 transition duration-300 mt-auto">
                voir le combat 
            </a>

            <div><i class="fas fa-eye mr-2"></i>: <span  class='text-orange-500' >{{battle.spectators}}</span></div>
            </div>
            <!-- <div class='flex justify-between items-center' > 
                <a href="{% url 'battles:battle_room' battle.id %}">
                    <button class="bg-transparent text-white px-4 py-2 rounded-lg hover:bg-purple-600 transition duration-300 mt-auto">
                        <i class="fas fa-eye mr-2"></i>Watch Battle
                    </button>
                </a>

                <div>Specators: <span  class='text-orange-500' >{{battle.spectators.all}}</span></div>
             </div>    -->
            {% endif %}
            {% endif %}
        </div>
        {% empty %}
        {% endfor %}
        <!-- Add more battle cards for other statuses -->

    </div>
    {% if requests|length == 0 and battles|length == 0 %}
        <div class = 'flex flex-col mb-4 justify-center  items-center'>
            <img src="{% static 'svg/sword-spin.svg'  %}" alt="sword-spin" class="h-64 w-64" >
            
            <p class = 'text-center'>Aucun combat actuellement</p>
            <p class = 'text-center' >tes RDC et combats ne sont pas affichés ici, pour les voir va sur ton profile</p>
        </div>
    {% endif %}

    <div class = 'filter-empty mb-4  hidden flex flex-col justify-center items-center'>
        <img src="{% static 'svg/sword-spin.svg'  %}" alt="sword-spin" class="h-64 w-64" >
        
        <p class = 'text-center'>Aucun combat dans cet état actuellement</p>
        <p>Pour voir l'état de tes combat vas sur ton profile</p>
    </div>
</main>

<!-- Popup for accepting battle -->
<div id="confirmRequestPopup" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center hidden z-50 animate-scaleIn">
    <div class="bg-gray-900 border border-gray-700 rounded-2xl p-8 max-w-md w-full mx-4">
        <h2 class="text-2xl text-orange-500 font-bold mb-4">Confirmer la RDC</h2>
        
        
        <div class="mb-6">
            <p class="text-yellow-500"><i class="fas fa-exclamation-triangle mr-2"></i>Notice: 250 Battle Points will be deducted upon creating this request.</p>
        </div>
        <div class="flex justify-between">
            <button id="confirmRequest" class="bg-green-500 text-white px-4 py-2 rounded-lg hover:bg-green-600 transition duration-300">
                <i class="fas fa-check mr-2"></i>Confirmer
            </button>
            <button id="cancelRequest" class="bg-red-500 text-white px-4 py-2 rounded-lg hover:bg-red-600 transition duration-300">
                <i class="fas fa-times mr-2"></i>Annuler
            </button>
        </div>
    </div>
</div>


<!-- Popup for accepting battle -->
<div id="acceptBattlePopup" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center hidden z-50 animate-scaleIn">
    <div class="bg-gray-900 border border-gray-700 rounded-2xl p-8 max-w-md w-full mx-4">
        <h2 class="text-2xl text-orange-500 font-bold mb-4">Entamer un combat</h2>
        <div class="mb-4">
            <h3 class="font-bold">Adversaire:</h3>
            <p id="opponentName" class="mb-1 font-semibold"></p>
            <p id="opponentCharacter" class="mb-1 text-yellow-500"></p>
            <p  class=" mb-1">Type: <span id="requestType" class="font-semibold"></span></p>
        </div>
        <div class="mb-4">
            <label for="yourCharacter" class="block mb-2">Choisir le perso:</label>
            <select id="yourCharacter" name="yourCharacter" class="w-full bg-gray-700 text-white p-2 rounded-lg">
                <option value="">Perso</option>
                            {% for character in characters %}
                            {% if player.p_character == character.name %}
                            <option selected value="{{character.name}}" data-img_link="{{character.images.0}}">{{character.name}} </option>
                            {% else %}
                            <option value="{{character.name}}" data-img_link="{{character.images.0}}">{{character.name}} </option>
                            {% endif %}
                            {% endfor %}
            </select>
        </div>
        <div class="mb-6">
            <p class="text-gray-400"><i class="fas fa-exclamation-triangle text-yellow-500 mr-2"></i> Des jetons de combats seront deduit en acceptant la requete. <br><a href="#" class="text-orange-500">Comment ca marche</a></p>
        </div>
        <div class="flex justify-between">
            <button id="confirmAccept" class="bg-green-500 text-white px-4 py-2 rounded-lg hover:bg-green-600 transition duration-300">
                <i class="fas fa-check mr-2"></i>Confirmer
            </button>
            <button id="cancelAccept" class="bg-red-500 text-white px-4 py-2 rounded-lg hover:bg-red-600 transition duration-300">
                <i class="fas fa-times mr-2"></i>Annuler
            </button>
        </div>
    </div>
</div>

{% block main_active %}
<script>
    $(()=>{
        
        $('.bottom-nav-link').removeClass('bg-gray-700')
        $('.bottom-nav-link')[2].classList.add('bg-gray-700')
    })
</script>
{% endblock main_active  %}

<script>
    function setupCharacterSearch() {
      const input = document.getElementById('character-search');
      const characters = document.querySelectorAll('#character-list label');
      
      input.addEventListener('input', () => {
        const search = input.value.toLowerCase().trim(); // Normalize input by converting to lowercase and trimming whitespace
        
        characters.forEach(label => {
          let name = label.querySelector('img').getAttribute('data-name');
          name = name.toLowerCase().trim()
          if (name.includes(search)) {
            label.classList.remove('hidden');
            
          } else {
            label.classList.add('hidden');
          }
        });
      });
    }


    function loadCharacters(){
        // $.ajax({
        //     url: '',
        //         type: "GET",
        //         data: {
        //             csrfmiddlewaretoken:"{{ csrf_token }}",
        //         },
        //         beforeSend: function(){
        //             $('#character-loading-indicator').removeClass('hidden')
        //         },
        //         success: function(res){
        //                 if(res.status == "success"){
                            
        //                    //populate characters
                            
        //                 }else{
        //                     showMyToast(res.message,'info',5500)
        //                 }
        //         },
        //         complete: function(){
        //             $('#loading-overlay').addClass('hidden')
        //         },
        //         error: function(jqXHR, textstatus, errorThrown){
        //             showMyToast("Une erreur s'est produite, veillez recharger la page ", 'error')

        //         }


        // })
    }

    setupCharacterSearch();
    document.addEventListener('DOMContentLoaded', () => {
    //   setupExpandableText();
      setupCharacterSearch();
    });
</script>

<script>
    
    const battleRequestForm = document.getElementById('battleRequestForm');
    const requestButton = $('.battleRequestForm .request-button');
    const requestBattlePopup = $('#confirmRequestPopup');
    const confirmRequestBtn = $('#confirmRequest');
    const cancelRequestBtn = $('#cancelRequest');

    //for confirm request creation(might be implemented later)
    requestButton.on('click',(e)=>{
        requestBattlePopup.removeClass('hidden')
    })
    confirmRequestBtn.on('click', (e) => {  
    });
    cancelRequestBtn.on('click', () => {
        requestBattlePopup.addClass('hidden');
    });


    function popupListener(){
        // Popup functionality
     const acceptButtons = document.querySelectorAll('.battle-card .accept-button');
    const acceptBattlePopup = document.getElementById('acceptBattlePopup');
    const confirmAcceptBtn = document.getElementById('confirmAccept');
    const cancelAcceptBtn = document.getElementById('cancelAccept');
    let accept_battle_url;

    acceptButtons.forEach(button => {
        button.addEventListener('click', (e) => {
            let type = e.target.dataset.requesttype 
            let sender = e.target.dataset.requestsender
            let character = e.target.dataset.character
            accept_battle_url = e.target.dataset.url
            console.log(accept_battle_url)
            e.preventDefault();
            const battleCard = button.closest('.battle-card');
            const opponentName = sender;
            // const opponentRank = battleCard.querySelector('.text-sm.text-gray-400').textContent;
            const requestType = type;
            const opponentCharacter = character; // Assuming the character name is the same as the player name for this example
            
            document.getElementById('opponentName').textContent = `Nom: ${opponentName}`;
            document.getElementById('requestType').textContent = requestType;
            document.getElementById('opponentCharacter').textContent = `Character: ${opponentCharacter}`;

            acceptBattlePopup.classList.remove('hidden');
        });
    });

    confirmAcceptBtn.addEventListener('click', () => {
        const selectedCharacter = document.getElementById('yourCharacter').value;
        if (selectedCharacter) {
            // Add logic to handle battle acceptance
            $.ajax({
                url: accept_battle_url,
                type: "POST",
                data: {
                    "character":selectedCharacter,
                    csrfmiddlewaretoken:"{{ csrf_token }}",
                },
                beforeSend: function(){
                    $('#loading-overlay').addClass('active')
                },
                success: function(res){
                        if(res.status == "success"){
                            
                            showMyToast("Requète accepté, en attente de validation...", 'success')
                            
                        }else{
                            showMyToast(res.message,'info',5500)
                        }
                },
                complete: function(){
                    $('#loading-overlay').removeClass('active')
                },
                error: function(jqXHR, textstatus, errorThrown){
                    showMyToast('An error occured!', 'error')
                    console.log(textstatus, errorThrown)
                }

            })

            
            acceptBattlePopup.classList.add('hidden');
        } else {
            
            showMyToast('Choisi un personnage avant de continuer.')
            
        }
    });

    cancelAcceptBtn.addEventListener('click', () => {
        acceptBattlePopup.classList.add('hidden');
    });
    }

    popupListener();
     
</script>

<script>
    $(()=>{
        
        function makeProposal(battleId){

            $.ajax({
                url : `/battles/refree/send_proposal/${battleId}`,
                type: "POST",
                data: { csrfmiddlewaretoken:"{{csrf_token}}" },
                beforeSend: function(){
                    $('#loading-overlay').toggleClass('active')
                },
                success: function(res){
                    if(res.status == "success"){
                       showMyToast(res.message, 'success')
                    }else{
                        showMyToast(res.message, 'info', 5000);
                    }
                    
                },
                complete: function(){
                    $('#loading-overlay').toggleClass('active')
                },
                error: function(jqXHR, textstatus, errorThrown){
                    showMyToast('An error occured! try reloading page', 'error')
                    console.log(textstatus, errorThrown)
                }
            })
        
        }

        const acceptBtn = $(".accept-battle-btn")
        $(".filter-button").on("click",(e)=>{
            let url = e.target.dataset.url
            $.ajax({
                url: url,
                type: "GET",
                data: {
                    
                },
                beforeSend: function(){
                    $('#loading-overlay').toggleClass('active')
                },
                success: function(res){
                        if(res.status == "success"){
                            
                            $(".battles-container").empty()
                            $(".filter-empty").addClass('hidden')
                            const battles = res.battles ? res.battles : []
                            const requests = res.requests ? res.requests : []

                            if(battles.length > 0){
                                res.battles.forEach(battle => {
                            $(".battles-container").append(createBattleElement(battle))
                            });
                            }else if(requests.length > 0){
                                //display requests
                                requests.forEach(request =>{
                                    $(".battles-container").append(createRequest(request))
                                })
                                
                                
                            }
                            else{
                                $(".filter-empty").removeClass('hidden')
                            }
                            
                            
                            
                        }else{
                            
                            showMyToast(res.message,'info',2000)
                        }
                },
                error: function(jqXHR, textstatus, errorThrown){
                    showMyToast('An error occured! try reloading page', 'error')
                    
                },
                complete: function(){
                    $('#loading-overlay').toggleClass('active')
                    
                    //add listeners
                    popupListener()
                    $('.proposal-btn').on('click', (e)=> makeProposal(e.target.dataset.battle_id))
                },

            })
        })
        
        //console.log(document.querySelector("#character-select").selectedOptions[0].value)
        acceptBtn.on("click",(e)=>{
            const character = document.querySelector("#character-select-accept").selectedOptions[0].value
            
            
            $.ajax({
                url: e.target.dataset.link,
                type: "POST",
                data: {
                    "character":character,
                    csrfmiddlewaretoken:"{{ csrf_token }}",
                },
                success: function(res){
                        if(res.status == "success"){
                            e.target.disabled = true
                            //console.log("Request accepted waiting for refree...")
                        }else{
                            //console.log(res.message)
                        }
                },
                error: function(jqXHR, textstatus, errorThrown){
                    showMyToast('An error occured! try reloading page', 'error')
                    console.log(textstatus, errorThrown)
                }

            })
                
        })


        //listener for refree proposal
        $('.proposal-btn').on('click', (e)=> makeProposal(e.target.dataset.battle_id))

    })




</script>
{% endblock content %}





{% block not_content %}
<script>
    $(()=>{
        
        function makeRequest(url){
            $.ajax({
                url : url,
                type: "POST",
                data: { csrfmiddlewaretoken:"{{csrf_token}}" },
                success: function(res){
                    if(res.status == "success"){
                        console.log(res.message)
                    }else{
                        console.log(res.message)
                    }
                    
                },
                error: function(jqXHR, textstatus, errorThrown){
                    showMyToast('An error occured! try reloading page', 'error')
                    console.log(textstatus, errorThrown)
                }
            })
        
        }

        const acceptBtn = $(".accept-battle-btn")
        $(".filter-battle-link").on("click",(e)=>{
            let url = e.target.dataset.link
            $.ajax({
                url: url,
                type: "GET",
                data: {
                    csrfmiddlewaretoken:"{{ csrf_token }}",
                },
                success: function(res){
                        if(res.status == "success"){
                            console.log(res)
                            $(".bottom-section").empty()
                            res.battles.forEach(battle => {
                               let card =  `
                            <div class="battle-card">
                            <h5>${battle.initiator}(<b>${battle.i_character}</b>) vs ${battle.opponent}(<b>${battle.o_character}</b>)</h5>
                            <span class="badge">${battle.type}</span>
                            <a href="/battles/battle_room/${battle.id}">See battle</a>
                            ` 
                            if(battle.can_refree){
                                card += `<button class='btn btn-success' onclick = makeRequest("/battles/refree/send_proposal/${battle.id}") >Send Refree proposal</button>`
                            }
                            card+="</div>"
                            $(".bottom-section").append(card)
                            
                        });
                            
                        }else{
                            console.log(res.message)
                        }
                },
                error: function(jqXHR, textstatus, errorThrown){
                    showMyToast('An error occured! try reloading page', 'error')
                    console.log(textstatus, errorThrown)
                }

            })
        })
        console.log(document.querySelector("#character-select").selectedOptions[0].value)
        acceptBtn.on("click",(e)=>{
            const character = document.querySelector("#character-select-accept").selectedOptions[0].value
            console.log(character)
            
            $.ajax({
                url: e.target.dataset.link,
                type: "POST",
                data: {
                    "character":character,
                    csrfmiddlewaretoken:"{{ csrf_token }}",
                },
                success: function(res){
                        if(res.status == "success"){
                            e.target.disabled = true
                            console.log("Request accepted waiting for refree...")
                        }else{
                            console.log(res.message)
                        }
                },
                error: function(jqXHR, textstatus, errorThrown){
                    showMyToast('An error occured! try reloading page', 'error')
                    console.log(textstatus, errorThrown)
                }

            })
                
        })

    })

</script>
{% endblock not_content %}

