{% extends "core/base.html" %}

{% block content %}


   

<style>
    .popup {
      display: none;
      position: fixed;
      top: 50%;
      left: 50%;
      width: 80%;
      transform: translate(-50%, -50%);
      background-color: white;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      z-index: 1000;
    }

    .close-button {
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: #007bff;
        color: white;
        border: none;
        padding: 10px 15px;
        border-radius: 8px;
        cursor: pointer;
    }
</style>



<div id="comments" class="comments-area popup">
    <button id="close-btn" class="close-button"><i class="fa fa-times"></i></button>
  </div>

    <div class="container-profile">
        <div class="sidebar">
            <ul>
                <li><a href="#"><i class="fa fa-home"></i> Events</li></a>
                <li><a href="#"><i class="fa fa-cog"></i> tournaments</li></a>
                <li><a href="#"><i class="fa fa-user"></i> Tutorials</li></a>
                <li><a href="#"><i class="fa fa-cog"></i> Saved</li></a>
                <li><a href="#"><i class="fa fa-cogs"></i> Notifications</li></a>
                <li><button class="refree-btn">Request a Battle</button></li>
                <li><a href="#"><i class="fa fa-cogs"></i> Become a refree</a></li>
                <li><a href="{% url 'users:logout' %}"><i class="fa fa-sign-out-alt"></i> Logout</a></li>
            </ul>

        </div>
        {% block main_content %}
        <div class="main-content">
            <div class="profile-header">
                <div class="profile-info">
                    <img src="{{player.profile_picture.url}}" alt="Profile Picture">
                    <div class="user-details">
                        <div class="username">{{player}}</div>
                        {% if player.nickname %}
                        <div class="nickname">{{player.nickname}}</div>
                        {% else %}
                        <div class="nickname">@Add a nickname?</div>
                        {%endif%}
                    </div>
                </div>
                <div class="progress-section">
                    <div class="progress-circle">
                        <div class="progress-text">0%</div>
                    </div>
                    <div class="ranking">Rank: <span>{{player.rank}}</span></div>
                </div>
            </div>
            <div class="stats">
                <div class="stat-item"><strong>Wins:</strong>{{stats.wins}}</div>
                <div class="stat-item"><strong>Draws:</strong>{{stats.draws}}</div>
                <div class="stat-item"><strong>Losses:</strong>{{stats.losses}}</div>
            </div>
            <div class="navbar-profile">
                <a href="{% url 'users:profile' %}" class="profile-nav-link active" >Posts</a>
                <a class="profile-nav-link" href="{% url 'users:battles' %}">Your Battles</a>
                <a class="profile-nav-link" href="{% url 'users:battle_requests' %}">Requests</a>
                <a class="profile-nav-link" href="#">Statistiques</a>

            </div>
            <div class="content">
{% block center %}                
                <div class="posts">
                    <!-- Repeat this post-card for multiple posts -->
        {% for post in posts  %}
            <div class="post-card">
                <div class="post-header">
                    <img src="{{post.author.profile_picture.url}}" alt="Profile Picture">
                    <div class="post-info">
                        <div class="user-name">{{post.author}}</div>
                        <div class="post-time">2 hours ago</div>
                    </div>
                    <div class="post-options">
                        <i class="fa fa-ellipsis-h"></i>
                    </div>
                </div>
                <div class="post-content">
                    <div class="post-text">{{post.body}}</div>
                    {% if post.image %}
                    <img src="{{post.image.url}}" width="100%" height="100%" alt="Post Image" class="post-image">
                    {% endif %}
                </div>
                <div class="post-actions">
                        <button class="like-btn" data-post_id="{{post.id}}" data-link="{% url 'core:react' post.id %}">
                        {% if post.reacted %}
                        <i id="like-icon" class="fa fa-thumbs-up"></i>
                        {% else %}
                        <i id="like-icon" class="fa fa-thumbs-o-up"></i>
                        {% endif %}
                        <span id="post-likes-{{post.id}}">{{post.likes}}</span></button>
                    <button class="comment-btn" data-link="{% url 'core:post' post.id %}" data-post_id="{{post.id}}"><i class="fa fa-comment"></i></button>
                </div>
                <div class="comment-section">
                    <input id="input-comment-{{post.id}}"  type="text" placeholder="Write a comment...">
                    <button class="send-comment" data-post_id="{{post.id}}"  data-link="{% url 'core:comment' post.id %}"><i class="fa fa-paper-plane"></i></button>
                </div>
            </div>
        {% endfor %}
                </div>
                <div class="user-info">
                    <div class="info-box">
                        <div class="info-title">Bio</div>
                        {% if player.bio %}
                        <div class="info-content">{{player.bio}}</div>
                        {% else %}
                        <div class="info-content">No Bio, add one ?</div>
                        {%endif%}
                    </div>
                    <div class="info-box">
                        <div class="info-title">Battle Points</div>
                        <div class="info-content">{{player.battle_points}}</div>
                    </div>
                    <div class="info-box">
                        <div class="info-title">Gender</div>
                        <div class="info-content">{{player.gender}}</div>
                    </div>
                    <div class="info-box">
                        <div class="info-title">Favorite Character</div>
                        <div class="info-content">{{player.p_character}}</div>
                    </div>
                </div>
{% endblock center %}                
            </div>
        </div>
        {% endblock main_content %}
    </div>

<div>
    


    <!--
{% for request in requests %}
<h3>{{request.sender}} to fight with {{request.character}}</h3>

{% for accepted_request in  request.acceptors %}
<h3>{{accepted_request.player}} accepted this request and will use {{accepted_request.character}}- <button data-url="{% url 'battles:new_battle' accepted_request.id %}" id="btn-start-fight">Fight with {{accepted_request.player}}</button></h3> 
{% empty %}
<h3>Nobody accepted this request yet..</h3>
{% endfor %}

{% for refree_proposal in request.refree_proposals %}
<h3>{{refree_proposal}} - <button id="btn-validate-refree" data-url="{% url 'battles:validate_refree' refree_proposal.id %}">Validate refree</button></h3>
{% empty %}
<h3>no refree proposed this battle yet..</h3>
{% endfor %}

{% endfor %}
    -->

<script>
    $(()=>{
        $(".profile-nav-link").on("click",(e)=>{
            $(".profile-nav-link").removeClass("active")
            $(e.target).addClass("active")
        })
    })
</script>

<script>
$(()=>{
    $(".btn-start-fight").on("click",(e)=>{
        $.ajax({
            url: e.target.dataset.url,
            type:"POST",
            data:{csrfmiddlewaretoken:"{{csrf_token}}"},
            success: function(res){
                if(res.status == "success"){
                    console.log(res.message)
                }else{
                    console.log(res.message)
                }
            }
        })
    })


    $(".btn-validate-refree").on("click",(e)=>{
        $.ajax({
            url: e.target.dataset.url,
            type:"POST",
            data:{csrfmiddlewaretoken:"{{csrf_token}}"},
            success: function(res){
                if(res.status == "success"){
                    console.log(res.message)
                }else{
                    console.log(res.message)
                }
            }
        })
    })
})
</script>

<script>
     

    $(()=>{
        const popup = document.getElementById('comments');
    const closeButton = document.querySelector('#close-btn');
    $(".close-button").on('click', (e) => {
            
            popup.style.display = 'none';
            $("#comments").empty()
            });
    
        $(".like-btn").on("click",(e)=>{
           
            const post_id = String(e.target.dataset.post_id)
            $.ajax({
                url: e.target.dataset.link,
                type: "POST",
                data: { csrfmiddlewaretoken:"{{ csrf_token }}" },
                beforeSend: function(){
                    $(e.target).hide()
                    //show loader
                },
                success: function(res){
                    if(res.status == 'success'){
                        let likes_span = $(`#post-likes-${post_id}`)
                        let likes = parseInt(likes_span.text())
                        let like_icon = $(e.target).children().eq(0)
                        if(res.message == 'liked'){
                            like_icon.removeClass("fa fa-thumbs-o-up")
                            like_icon.addClass("fa fa-thumbs-up")

                            likes_span.text(likes+1)
                            
                        }else{
                            like_icon.removeClass("fa fa-thumbs-up")
                            like_icon.addClass("fa fa-thumbs-o-up")
                            likes_span.text(likes-1)
                            
                        }
                        

                    }

                },
                complete: function(){
                    $(e.target).show()
                    //remove loader
                }

            })
        })

        $(".comment-btn").on("click",(e)=>{
            popup.style.display = 'block';

            let url = e.target.dataset.link
            $.ajax({
                url:url,
                type:"GET",
                beforeSend: function(){
                    console.log("wait..")
                },
                success:function(res){
                    if(res.status == "success"){
                        console.log(res.post.comments)
                        $("#comments").append(
                        `<button id="close-btn" class="close-button"><i class="fa fa-times"></i></button>`
                        )
                        res.post.comments.forEach(comment => {
                            $("#comments").append(`
                            <div class="comment">
                                <b>${comment.author}</b>
                                <p>${comment.body}</p>
                            </div>    
                            `)
                            $(".close-button").on('click', (e) => {
                                popup.style.display = 'none';
                                $("#comments").empty()
                            });
    
                            
                        });
                            
                    }
                }
            })
        })

        $(".send-comment").on("click",(e)=>{
            console.log("clicked")
            let post_id = e.target.dataset.post_id

            $.ajax({
                url: e.target.dataset.link,
                type:"POST",
                data:{csrfmiddlewaretoken:"{{csrf_token}}","comment":$(`#input-comment-${post_id}`).val()},
                success: function(res){
                    console.log(res)
                }

            })
        })
        
    })
</script>


{%  endblock content %}