{% extends "core/base.html" %}

{% block title %}Conversations{% endblock title %}
{% block meta_description %} page des conversations entre joueurs   {% endblock meta_description %}
{% block meta_keywords %} Messagerie conversations privée message de groupe {% endblock meta_keywords %}

{% block content %}
{% load static %}

{% block style %}

<style>
   
   .unread{
        color: white;
   }     
   .message-options {
            transition: opacity 0.3s ease-in-out;
        }
    
        textarea{
            resize: vertical;
            overflow: auto;
        }
        

    @media (max-width: 768px) {
        .messages-container{
            display: none;
        }
        .chats-container{
            margin-top: 60px;
            min-height: 100%;
        }
        .chats-main{
            padding: 0 0;
        }
       
        
    }
    
</style>


{% endblock style %}
<style>

    .disabled{
        opacity: 50%;
        cursor: not-allowed;
    }
    .emoji-picker {
        display: none;
        position: absolute;
        bottom: 100%;
        left: 0;
        width: 200px;
        height: 150px;
        background-color: #1F2937;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 8px;
        overflow-y: auto;
    }
    
    .emoji-picker.active {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 8px;
    }
    
    .emoji-picker span {
        cursor: pointer;
        font-size: 1.2rem;
        text-align: center;
    }
    
    .emoji-picker span:hover {
        background-color: #374151;
        border-radius: 4px;
    }
    .highlight {
    animation: highlight-animation 2s ease-in-out;
    }

    @keyframes highlight-animation {
        0% {
            background-color: rgba(11, 10, 27, 0.5); /* Orange highlight */
        }
        100% {
            background-color: transparent;
        }
    }

    .input-wrap{
        white-space: pre-wrap;
    }
</style>

<main class="chats-main  bg-gray-950 rounded-lg p-6 md:mt-16 text-gray-300 flex-grow flex flex-col md:flex-row overflow-hidden" >
    <!-- Sidebar -->
    <aside class="chats-container w-full md:w-1/4 bg-gray-950 md:bg-gray-900 rounded-lg  border-gray-200 overflow-y-auto">
        <div class="my-4 px-4" >
            <p class="text-xl font-bold mb-2">En ligne/Amies</p>    
            <div class="flex overflow-hidden">
                {% for player in active_players %}
                <div class="flex items-center justify-between bg-opacity-50 rounded-lg px-3">
                    <a href = '/chats/dm/{{player.user.username}}' onclick = 'showOverlay()' class="relative flex flex-col justify-center items-center gap-3">
                                <div class="relative">
                                    <img src="{{player.profile_picture}}" alt="Player Avatar" class="w-10 h-10 border border-orange-500 rounded-full">
                                    <!-- <span id="" class="notifier absolute bottom-0 right-0 rounded-full translate-middle bg-green-500 text-gray-200 w-2 h-2 flex items-center justify-center" ><span class="opacity-0">x</span></span> -->
                                     <div class="bg-green-500 h-3 w-3 rounded-full absolute bottom-0 right-0 animate-pulse shadow shadow-green-500"></div>
                                </div>
                                
                                <div class="truncate">
                                    <span>{{player.user.username}}</span>
                                    <!-- <h3 class="font-semibold">{{player.nickname}} 🔅 <span class='text-orange-500 font-cal inline-block'>{{player.rank}}</span></h3>
                                    <p class="text-xs text-gray-400"> {{player.last_seen}} 🏆 {{player.wins}} victoires </p>  -->
                                </div>
                    </a>
                </div>
                {% endfor %}
            </div> 
        </div> 
        
        <div class="px-4 my-2">
            <input id="searchChats" type="text" placeholder="Rechercher une conversation..." oninput="searchChats()" class="w-full p-2  rounded-full bg-gray-900 border border-gray-700 focus:outline-none focus:ring-2 focus:ring-orange-500">
        </div>
              

        <ul id="chatList" class="">
            <!-- Chats will be added here -->
            
            {% if player.family %}
            <!-- border-b border-gray-700 -->
            <li  class='chat  p-2  hover:bg-gray-800 cursor-pointer transition duration-300'>
                <a onclick="showOverlay()" href="{% url 'chat:family_chat' player.family %}">
                    
                    <div class="flex items-center">
                        <img src="{{player.family.profile_picture.url}}" alt="{{player.family}} profile picture" class="w-12 h-12 rounded-full mr-4">
                        <div class="flex-grow">
                            <h3 class="font-semibold"> {{player.family}} <span class="text-red-500 ml-2 ">{{family_last_message.unreads.number}}</span> </h3>
                            <p class="text-gray-500 {{family_last_message.unreads.label}} text-sm ellipsed max-w-64 truncate">
                                {{family_last_message.sender}}: {{family_last_message.content}}
                            </p>
                        </div>
                        <span class="text-xs text-gray-400">{{family_last_message.date_sent}}</span>
                    </div>
                </a>
            </li>
            {% endif %}
        <div id="private-chats" >
            {% for chat in chats %}
        <li class='chat  p-2  hover:bg-gray-800 cursor-pointer transition duration-300'>
            {% if chat.chat.recipient == player %}
            <a onclick="showOverlay()" href="{%  url 'chat:private_chat' chat.chat.initiator.user.username %}">
                <div class="flex fade-in-up items-center ">
                <img src="{{chat.chat.initiator.profile_picture.url}}" alt="{{chat.chat.initiator}} profile picture" class="w-12 h-12 rounded-full mr-4">
                <div class="flex-grow">
                    <h3 class="font-semibold">{{chat.chat.initiator}} <span class="text-sm text-red-500 ml-2 ">{{chat.unreads.number}}</span></h3>
                    
                    <p class="relative text-gray-500 {{chat.unreads.label}} text-sm ellipsed max-w-64 truncate">
                        
                        {% if chat.last_message.image %}
                        <i class="fas fa-camera mr-2"></i> sent an image
                        {% else %}
                        {{ chat.last_message.content}}
                        
                        {% endif %}
                        <!-- <span class="absolute text-red-500 ml-2 ">{{chat.unreads.number}}</span> -->
                        
                    </p>
                    
                </div>
                
                <span class="text-xs text-gray-400">{{chat.last_message.date_sent}}</span>
                <!-- <div class="bg-red-500 text-white rounded-full w-6 h-6 flex items-center justify-center">1</div> -->
            </div>
            </a>

            {% else %}
            <a onclick="showOverlay()" href="{%  url 'chat:private_chat' chat.chat.recipient.user.username %}">
                <div class="flex  items-center">
                    <img src="{{chat.chat.recipient.profile_picture.url}}" alt="{{chat.chat.recipient}} profile picture" class="w-12 h-12 rounded-full mr-4">
                    <div class="flex-grow fade-in-up">
                        <h3 class="font-semibold">{{chat.chat.recipient}} <span class="text-red-500 text-sm ml-2 ">{{chat.unreads.number}}</span></h3>
                        <!-- inline-flex text-sm justify-center items-center w-5 h-5 bg-red-500 rounded-full -->
                        <p class="relative text-gray-500 {{chat.unreads.label}} ellipsed max-w-64 text-sm truncate">
                            {% if chat.last_message.image %}
                            <i class="fas fa-camera mr-2"></i> sent an image
                            {% else %}
                            {{ chat.last_message.content }}
                            {% endif %}
                            <!-- <span class="absolute rounded-full text-sm text-red-500 ml-2 ">{{chat.unreads.number}}</span> -->
                        </p>
                    </div>
                    
                    <span class="text-xs text-gray-400">{{chat.last_message.date_sent}}</span>
                </div>
                
            </a>
            {% endif %}
        </li>
        {% empty %}
        <div  class="p-4 flex flex-col justify-center items-center">
            <img src="{% static 'svg/no-chats.svg'  %}" alt="no-chats" class="h-24 w-24" >
            Aucune conversation pour le moment 
        </div>
        {% endfor %}
        </div>

             

        </ul>
        
    </aside>

    <!-- Chat area -->
    <section style="border-radius:10px; " class="messages-container w-full md:w-3/4  flex flex-col overflow-hidden">
        

         
        {% block messages %}
        <div class="flex flex-col items-center justify-center" style="width: 50%; margin:auto;">
            <img src="{% static 'svg/empty-message.svg'  %}" alt="empty-message" class="h-32 w-32" >
            
            <p style="text-align: center;">
                Choisissez une conversation pour commencer a discuter
            </p>
        </div>
        
        {% endblock messages %}
        
        
        
       
        
    </section>
</main>
{% block main_active %}
<script>
    $(()=>{
        
        $('.bottom-nav-link').removeClass('bg-gray-700')
        $('.bottom-nav-link').eq(1).addClass('border-b-2 border-orange-500')
    })
</script>
{% endblock main_active  %}


<script>
    const chats_wsprotocol = window.location.host === 'roleplayverse.live' ? 'wss://' : 'ws://';
    const allChatSocket =  new WebSocket(
            chats_wsprotocol + 
            window.location.host + 
            '/ws/chats/{{request.user.username}}/'
        )
        
    allChatSocket.onopen = function(e){
        // console.log("connected to all chats web socket")
    }

    allChatSocket.onmessage = function(e){
        const data = JSON.parse(e.data)
        // console.log(data)
        getchats();
    }

    allChatSocket.onclose = function(e){
        // showMyToast("Connection perdu. recharge la page",'error')
    }
    allChatSocket.onerror = function(e){
        // showMyToast('An error occured during sending, please try again','error')
    }

    function createChat(chat){
        const friend = chat.recipient.user.username == "{{request.user.username}}" ? chat.initiator : chat.recipient
        const li = document.createElement("li")
        li.classList = "chat p-2  hover:bg-gray-800 cursor-pointer transition duration-300";
        li.innerHTML = `
        <a onclick="showOverlay()" href="/chats/dm/${friend.user.username}">
                <div class="flex fade-in-up items-center ">
                <img src="${friend.profile_picture}" alt="${friend.user.username} profile picture" class="w-12 h-12 rounded-full mr-4">
                <div class="flex-grow">
                    <h3 class="font-semibold">${friend.name} <span class="text-sm text-red-500 mx-2">${chat.unreads.number}</span> ${friend.last_seen == "en ligne" ? '<span id="" class="text-green-500">en ligne</span>':""} </h3>
                    
                    <p class="relative text-gray-500 ${chat.unreads.label} text-sm ellipsed max-w-64 truncate">
                        ${chat.last_message.image? '<i class="fas fa-camera mr-2"></i> sent an image':`${chat.last_message.content}`}
                    </p>
                </div>
                <span class="text-xs font-bold text-gray-200">${chat.last_message.date_sent}</span>
            </div>
        </a>
        `
        return li;
    }

    function getchats(chats_data = null){
        console.log(typeof(chats_data))
        if (false){
            const chats =  chats_data
            const container = document.getElementById("private-chats")
            container.innerHTML = ''
            chats.forEach(chat => {
                container.appendChild(createChat(chat))
            });
            if(chats.length == 0){
                container.innerHTML = `
                <div  class="p-4 flex flex-col justify-center items-center">
                    <img src="/static/svg/no-chats.svg" alt="no-chats" class="h-24 w-24" >
                    Aucune conversation privé pour le moment 
                </div>
                `
            }
        }else{
            $.ajax({
                url: `/chats/{{request.user.username}}`,
                type: 'GET',
                data: {csrfmiddlewaretoken:"{{ csrf_token }}"},
                beforeSend: function(){
                    // $("#loading-overlay").toggleClass('active')
                },
                success: function(res){
                    if(res.status === 'success'){
                        const chats =  res.chats
                        const container = document.getElementById("private-chats")
                        container.innerHTML = ''
                        chats.forEach(chat => {
                            container.appendChild(createChat(chat))
                        });
                        if(chats.length == 0){
                            container.innerHTML = `
                            <div  class="p-4 flex flex-col justify-center items-center">
                                <img src="/static/svg/no-chats.svg" alt="no-chats" class="h-24 w-24" >
                                Aucune conversation privé pour le moment 
                            </div>
                            `
                        }
                        
                    }else{
                        showMyToast(res.message)
                    }
                },
                complete: function(){
                    // $("#loading-overlay").toggleClass('active')
                },
                error: function(jqXHR, textstatus,  errorThrown){
                    showMyToast('an error occured','error')
                }
            })
        }
        
        }
    
    document.addEventListener('DOMContentLoaded', getchats);

    

</script>

<script>
    function searchChats() {
        const searchValue = document.getElementById('searchChats').value.toLowerCase();
        const chatList = document.getElementById('chatList');
        const chats = chatList.getElementsByClassName('chat');

        for (let i = 0; i < chats.length; i++) {
            const chatName = chats[i].getElementsByTagName('h3')[0].innerText.toLowerCase();
            if (chatName.includes(searchValue)) {
                chats[i].style.display = '';
            } else {
                chats[i].style.display = 'none';
            }
        }
    }

</script>
<script>
    const addImageButton = document.getElementById('addImage');
    const messageInput = document.getElementById('messageInput');
    const emojiButton = document.getElementById('emojiButton');
    const sendMessageButton = document.getElementById('sendMessage');
    const emojiPicker = document.getElementById('emojiPicker');

    // Simulated image upload
    

    // Toggle emoji picker
    emojiButton.addEventListener('click', () => {
        emojiPicker.classList.toggle('active');
    });

    // Send message
    
    // messageInput.addEventListener('keypress', (e) => {
    //     if (e.key === 'Enter') {
    //         sendMessage();
    //     }
    // });

   

    // Populate emoji picker
    const emojis = ['😀', '😃', '😄', '😁', '😆', '💀','😅', '😂', '🤣', '😊', '😇', '🙂', '🙃', '😉', '😌', '😍', '🥰', '😘', '😗', '😙', '😚', '😋', '😛', '😝', '😜', '🤪', '🤨', '🧐', '🤓', '😎', '🤩',];
    
    emojis.forEach(emoji => {
        const span = document.createElement('span');
        span.textContent = emoji;
        span.addEventListener('click', () => {
            messageInput.value += emoji;
            //emojiPicker.classList.remove('active');
            messageInput.focus();
        });
        emojiPicker.appendChild(span);
    });

    // Close emoji picker when clicking outside
    document.addEventListener('click', (e) => {
        if (!emojiButton.contains(e.target) && !emojiPicker.contains(e.target)) {
            emojiPicker.classList.remove('active');
        }
    });
</script>

<script>

    function disableButton(id){
        const button =  document.getElementById(id);
        button.setAttribute('disabled', true);
        button.classList.add('disabled');
        
    }

    function enableButton(id){
        const button =  document.getElementById(id);
        button.removeAttribute('disabled');
        button.classList.remove('disabled');
    }
    function hideConnectionMessage(state="connecting"){
        const p = document.getElementById('connection-message')
        console.log(p)
        p.style.display = "none";
        
    }
 // Reference to the reply container and its elements
 const replyContainer = document.getElementById('replyContainer');
        const replyText = document.getElementById('replyText');
        const cancelReplyButton = document.getElementById('cancelReplyButton');

        // Variable to store the ID of the message being replied to
        let replyToMessageId = null;

        // Function to handle "Reply to message" button click
        function addReply(element, messageId, messageContent2) {
            console.log("clicked")
            replyToMessageId = messageId; // Store the message ID
            const messageContent = element.getAttribute('data-message-content');
            replyText.textContent = `Répondre à: "${String(messageContent).slice(0,50)}"`; // Set the reply text
            replyContainer.classList.remove('hidden'); // Show the reply container

        }

        // Function to cancel the reply
        cancelReplyButton.addEventListener('click', () => {
            
            replyToMessageId = null; // Clear the reply message ID
            replyContainer.classList.add('hidden'); // Hide the reply container
            replyText.textContent = ''; // Clear the reply text
        });

        function scrollToMessage(messageId){
            // Find the message element by its ID
            const messageElement = document.getElementById(`message-${messageId}`);
            if (messageElement) {
                // Scroll to the message element
                messageElement.scrollIntoView({
                    behavior: 'smooth', // Smooth scrolling
                    block: 'center',    // Center the message in the viewport
                });

                // Optionally, highlight the message for better visibility
                messageElement.classList.add('highlight');
                setTimeout(() => {
                    messageElement.classList.remove('highlight');
                }, 2000); // Remove the highlight after 2 seconds
            } else {
                console.error(`Message with ID ${messageId} not found.`);
            }
        }

function messageOptionsListener(){
        
        const optionsButton = document.querySelectorAll('.optionsButton');
       //const optionsMenu = document.querySelectorAll('.optionsMenu');
       
        // optionsButton.forEach(optionButton=>{
        //     optionButton.addEventListener('click', (e) => {
        //     e.target.closest('.optionsMenu').classList.toggle('hidden')
        // });
        // })
        $(".optionsButton").on('click',(e)=>{
           
            const optionsMenu  = $(e.target).parent().parent().find('.optionsMenu')
            optionsMenu.toggleClass('hidden')
            
            document.addEventListener('click', (event) => {
            if (!e.target.contains(event.target) && !optionsMenu[0].contains(event.target)) {
                optionsMenu[0].classList.add('hidden');
            }
            });
        })
       

        
    }

    function deleteFamilyMessage(element, messageId){
        
        $.ajax({
                url: `/chats/messages/delete/family/${messageId}`,
                type: 'DELETE',
                data: {csrfmiddlewaretoken:"{{ csrf_token }}"},
                beforeSend: function(){
                    $("#loading-overlay").toggleClass('active')
                },
                success: function(res){
                    if(res.status === 'success'){
                        showMyToast(res.message, 'success')
                        //element.closest('.message').classList.add('hidden')
                        $(element.closest('.message')).hide(500)

                    }else{
                        showMyToast(res.message)
                    }
                },
                complete: function(){
                    $("#loading-overlay").toggleClass('active')
                },
                error: function(jqXHR, textstatus,  errorThrown){
                    showMyToast('an error occured','error')
                }
            })
        }
    function deletePrivateMessage(element, messageId){
        
        $.ajax({
                url: `/chats/messages/delete/private/${messageId}`,
                type: 'DELETE',
                data: {csrfmiddlewaretoken:"{{ csrf_token }}"},
                beforeSend: function(){
                    $("#loading-overlay").toggleClass('active')
                },
                success: function(res){
                    if(res.status === 'success'){
                        showMyToast(res.message, 'success')
                        console.log($(element).parent('.message'))
                        
                        //element.closest('.message').classList.add('hidden')
                        $(element.closest('.message')).hide(500)

                    }else{
                        showMyToast(res.message)
                    }
                },
                complete: function(){
                    $("#loading-overlay").toggleClass('active')
                },
                error: function(jqXHR, textstatus,  errorThrown){
                    showMyToast('an error occured','error')
                }
            })
        }
</script>





<script>
    $(()=>{
        const searchForm = $("#search-users")
        const inputName = $("#input-name")
        inputName.on("input",(e)=>{
           if(e.target.value != ""){
            $.ajax({
                url: "{% url 'chat:search' %}",
                type: 'POST',
                data: {"username":e.target.value, csrfmiddlewaretoken:"{{ csrf_token }}"},
                success: function(res){
                    if(res.status === 'success'){
                        console.log(res.searched_players)
                        $("#users-list").removeClass("searched-players")
                        $("#user-list").empty()
                        
                        res.searched_players.forEach(player => {
                            $("#user-list").append(`
                            <a href = "dm/${player.username}">${player.username}</a><br>
                            `)
                        });
                        $("#users-list").addClass("searched-players")
                    }else{
                        console.log("Error searching")
                    }
                }
            })
           }else{
            $("#user-list").empty()
           }
            
        })
        searchForm.on("submit",(e)=>{
            e.preventDefault()
            $.ajax({
                url: "{% url 'chat:search' %}",
                type: 'POST',
                data: {"username":"f", csrfmiddlewaretoken:"{{ csrf_token }}"},
                success: function(res){
                    if(res.status === 'success'){
                        console.log(res.searched_players)
                    }else{
                        console.log("Error searching")
                    }
                }
            })
            
        })
    })
    
</script>

{% endblock content %}