{% extends "chat/chats.html" %}
{% load static %}


{% block style %}
<style>
    
    .messages-container{
        min-height: 100%;
    }
    
    @media (max-width: 768px) {
        .chats-container{
            display: none;
        }
        #backArrow{
            display: block;
        }
        nav{
        display: none;
        }
        .message-form-container{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
        }
        .chats-main{
            padding:0 0;
        } 
        
        
    }
    @media (min-width: 768px) {
        
        .messages-container{
            margin: 0 1rem;
        }
        #chatHeader{
         padding: 1rem;   
        }
       
    }


</style>
{% endblock style %}


{% block messages %}



<div id="chatHeader" class="border-b-2 border-b-orange-500 p-3 flex items-center">
    <a href="{% url 'chat:all' %}">
        <i id="backArrow" class="fas fa-angle-left mr-2 text-xl hidden"></i>
    </a>
    <img src="{{player.family.profile_picture.url}}" alt="familie's profile picture" class="w-10 h-10 rounded-full mr-3">
   
    <a href="{% url 'users:family_page' player.family.id %}" class=" flex flex-col ">
            <div class="text-xl font-semibold">{{player.family}}</div>
            <div class="text-xs ellipsed">
                {% for member in members %}
                <span>{{member.user.username}}, </span>
                {% endfor %}
            </div>
            
    </a>
    
</div>

 <!-- Messages --> 
<div id="messagesContainer" class="flex-grow px-2 py-4 overflow-y-auto ">
    <!-- Messages will be added here dynamically --> 
    <div class="flex flex-col h-full items-center justify-center">
        <img src="{% static 'svg/empty-message.svg'  %}" alt="empty-messages" class="h-32 w-32" >
        
        <p>
            Pas de message pour l'instant dans le groupe
        </p>
        <p class="text-xs text-center" >Vos conversations sont <span class="text-orange-500">chiffrés</span>, seul vous et les membres du groupe peuvent lire les message</p>

    </div>
</div>

<div class="message-loader hidden">
    <i class="fas fa-spinner fa-spin text-orange-500"></i>
</div>


<!--Imag name preview-->
    

 <!-- Message input --> 
<div class="bg-gray-900 relative message-form-container p-4">
    <p id="image-name" class="hidden top-0 absolute">
        <span class="text-green-500"></span>   
        <i class="fas fa-times cursor-pointer ml-2"></i> 
    </p>
    <div class="message-loader top-0 absolute hidden">
        <i class="fas fa-spinner fa-spin text-orange-500"></i>
    </div>
    <form id="messageForm" class="flex">
        <label for="imageUpload" class="cursor-pointer mr-2 bg-gray-600 text-white px-4 py-2 rounded-lg hover:bg-gray-500 transition duration-300">
            <i class="fas fa-image"></i>
        </label>
        <input type="file" id="imageUpload" accept="image/*" class="hidden">
        <input type="text" id="messageInput" placeholder="Type a message" class="flex-grow max-h-40 mr-2 p-2 shadow-md border-1 border-gray-800  rounded-full focus:outline-none focus:ring-2 focus:ring-gray-500 bg-gray-900 text-white">
        <button type="submit" class="bg-orange-500 opacity-8 hover:bg-orange-600 text-white px-6 rounded-full  transition duration-300">
            <i class="fa fa-paper-plane"></i>
        </button>
    </form>
</div>




{{request.user.username|json_script:"sender_username"}}
{{family.name|json_script:"family_name"}}
{% block main_active %}
<script>
    $(()=>{
        $('.bottom-nav-link').addClass('hidden') 
    })
</script>
{% endblock main_active  %}
<script>
    $(()=>{
    var sender_name = JSON.parse(document.querySelector("#sender_username").textContent) 
    // sender_name =  sender_name.replace(/^["'](.*)["']$/, '$1')
    var family_name = JSON.parse(document.querySelector("#family_name").textContent)
    
    // family_name = family_name.replace(/^["'](.*)["']$/, '$1')
    const messagesContainer = $("#messagesContainer")
    const messageForm = $('#messageForm')
    const messageInput = $('#messageInput');
    const fileInput = $('#imageUpload')

    const wsprotocol = window.location.protocol === 'https' ? 'wss://' : 'ws://' 
    const groupChatSocket = new WebSocket(
            wsprotocol + 
            window.location.host + 
            '/ws/chat/group/'+
            family_name +  "/"
    )
   
    function createUserMessage(message){
        const messageElement = document.createElement('div')
        messageElement.className = 'message  flex-grow container  p-4 flex justify-end'
        messageElement.innerHTML = `
        <div class="rounded-lg  max-w-2xl min-w-32">
            <div class="relative group">
                <div class="flex items-start mb-2 justify-end">
                    <div class="flex-grow text-right">
                        <div class="flex items-center justify-end mb-1">
                            <span class="text-xs text-gray-300 mx-2">${message.date_sent}</span>
                            <h3 class="font-semibold text-lg text-indigo-500">You</h3>
                        </div>
                        <p class="body text-gray-300 mt-1 bg-gray-900 border-1 border-gray-900 p-3 min-w-32  rounded-tl-xl rounded-br-xl rounded-bl-xl inline-block">${message.content}</p>
                        
                    </div>
                    <a href = '/users/${message.sender.username}'>
                        <img src="${message.sender.profile_picture}" alt="${message.sender.username}" class="w-10 h-10 rounded-full ml-3">
                    </a>
                    
                </div>
                <div class="message-options absolute top-0 left-0 mt-1  opacity-100 group-hover:opacity-100">
                    <div class="relative">
                        <button class="optionsButton bg-gray-500 round-btn hover:bg-gray-600 text-gray-400 hover:text-white focus:outline-none" id="">
                            <i class="fas fa-ellipsis text-xs"></i>
                        </button>
                        <div class="optionsMenu absolute left-0 mt-2 mr-2 w-48 bg-gray-700 rounded-md shadow-lg z-10 hidden" id="">
                            <ul class="py-1">
                                <li>
                                    <a href="#" onclick = 'copyLink("${message.content}")' class="block px-4 py-2 text-sm text-gray-300 hover:bg-gray-600 hover:text-white">
                                        <i class="fas fa-copy mr-2"></i> Copy Message
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="block px-4 py-2 text-sm text-gray-300 hover:bg-gray-600 hover:text-white">
                                        <i class="fas fa-edit mr-2"></i> Edit
                                    </a>
                                </li>
                                <li>
                                    <a href="#" onclick='deleteFamilyMessage(this,"${message.id}")' class="block px-4 py-2 text-sm text-red-400 hover:bg-gray-600 hover:text-red-300">
                                        <i class="fas fa-trash-alt mr-2"></i> Delete
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        `

        return messageElement
    } 

    function createFamilyMessage(message){
        const messageElement = document.createElement('div')
        messageElement.className = 'rounded-lg p-4 mb-4 max-w-2xl min-w-32'
        messageElement.innerHTML = `
        <div class="relative group ">
                <div class="flex items-start mb-2">
                    
                    <a href = '/users/${message.sender.username}'>
                     <img src="${message.sender.profile_picture}" alt="${message.sender.player}" class="w-10 h-10 rounded-full mr-3">
                    </a>
                   
                    <div class="flex-grow">
                        <div class="flex items-center justify-between">
                             
                            <a href = '/users/${message.sender.username}' class="font-semibold text-orange-600">${message.sender.username}</a>
                            
                        </div>
                        <p class="body text-white mt-1 bg-orange-600 w-full p-3 min-w-32  rounded-tr-xl rounded-br-xl rounded-bl-xl inline-block">${message.content}</p>
                        
                        <br>
                        <span class="text-xs text-gray-200">${message.date_sent}</span>
                        
                    </div>
                     
                </div>
                <div class="message-options absolute top-0 right-0 mt-1 mr-1 opacity-100 group-hover:opacity-100">
                    <div class="relative">
                        <button class="optionsButton  bg-gray-500 round-btn hover:bg-gray-600 text-gray-400 hover:text-white focus:outline-none" id="">
                            <i class="fas fa-ellipsis text-xs"></i>
                        </button>
                        <div class="optionsMenu absolute right-0 mt-2 w-48 bg-gray-700 rounded-md shadow-lg z-10 hidden" id="">
                            <ul class="py-1">
                                <li>
                                    <a href="#" onclick="copyLink('${message.content}')" class="block px-4 py-2 text-sm text-gray-300 hover:bg-gray-600 hover:text-white">
                                        <i class="fas fa-copy mr-2"></i> Copy Message
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="block px-4 py-2 text-sm text-gray-300 hover:bg-gray-600 hover:text-white">
                                        <i class="fas fa-reply mr-2"></i> Reply
                                    </a>
                                </li>
                                
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        
        `

        return messageElement
    }
    

    function get_messages(){


            $.ajax({
               url: "{% url 'chat:get_family_messages' family.name %}",
               type: 'GET',
               beforeSend:function(){
                    $('#image-name i').trigger('click')
                    $('.message-loader').toggleClass('hidden')
                },
               success: function(res){
                   if(res.message === 'success'){
                       const messages = res.messages
                       if(messages.length > 0){

                        messagesContainer.empty()
                        messages.forEach(message => {
                            
                            if(message.image){
                                messagesContainer.append(
                                    `
                            <div class="relative group flex mb-4 p-4 rounded-lg ${sender_name === message.sender.username ? 'justify-end' : 'justify-start'} ">
                                
                                ${sender_name === message.sender.username ? `
                                <div>
                                    <img src="${message.image}" alt="Message image" class="myImg w-60 rounded-lg">
                                <p class="text-gray-300">${message.content? message.content : ''}</p><br>
                                <p class="text-xs text-gray-300 mt-1">${message.date_sent}</p>
                                </div>    
                                ` : `
                                 <a href = '/users/${message.sender.username}'>
                                <img src="${message.sender.profile_picture}" alt="${message.sender.player}" class="w-10 h-10 rounded-full mr-3">
                                </a>
                                <div>
                                <a class='font-semibold text-orange-600' href = '/users/${message.sender.username}'>${message.sender.username}</a>
                                <img src="${message.image}" alt="Message image" class="myImg w-60 rounded-lg">
                                <p class="text-gray-100">${message.content? message.content : ''}</p><br>
                                <p class="text-xs text-gray-300 mt-1">${message.date_sent}</p>
                                </div>
                                `}
                                <div class="message-options  top-0 left-0 mt-1 ml-1 opacity-100 group-hover:opacity-100">
                                <div class="relative">
                                    <button class="optionsButton bg-gray-500 round-btn hover:bg-gray-600 rounded-full text-gray-400 hover:text-white focus:outline-none" id="">
                                        <i class="fas fa-ellipsis-v text-xs"></i>
                                    </button>
                                    <div class="optionsMenu absolute right-0 mt-2 w-48 bg-gray-700 rounded-md shadow-lg z-10 hidden" id="">
                                        <ul class="py-1">
                                            <li>
                                                <a href="#" onclick = 'copyLink("${message.content}")' class="block px-4 py-2 text-sm text-gray-300 hover:bg-gray-600 hover:text-white">
                                                    <i class="fas fa-copy mr-2"></i> Copy
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="block px-4 py-2 text-sm text-gray-300 hover:bg-gray-600 hover:text-white">
                                                    <i class="fas fa-edit mr-2"></i> Edit
                                                </a>
                                            </li>
                                            ${sender_name === message.sender.username ? `
                                            <li>
                                                <a href="#" onclick='deletePrivateMessage(this,"${message.id}")' class="block px-4 py-2 text-sm text-red-400 hover:bg-gray-600 hover:text-red-300">
                                                    <i class="fas fa-trash-alt mr-2"></i> Delete
                                                </a>
                                            </li>
                                            `:``}
                                            
                                        </ul>
                                        </div>
                                    </div>
                            </div>
                              
                                `
                                )
                            }else{
    
                                const messageElement = sender_name === message.sender.username ? createUserMessage(message):createFamilyMessage(message)
                                messagesContainer.append(messageElement)   
                               
    
                            //     messagesContainer.append(`
                            //      <div class="message mb-4 ${sender_name === message.sender ? 'text-right' : ''}">
                            //         <div class="inline-block ${sender_name === message.sender ? 'bg-indigo-600 text-white' : 'bg-gray-700'} rounded-lg py-2 px-4 max-w-xs ">
                            //             <a href='/users/${message.sender}' class='font-bold  text-gray-400'>${message.sender}</a>
                            //             <p class='text'>${message.content}</p>
                            //             <p class="text-xs text-gray-400 mt-1">${message.date_sent}</p>
    
                            //              <div class="message-options" style="position: relative;">
                            //             <div class="options hidden w-32 bg-gray-700 rounded-md shadow-lg absolute z-10">
                            //                 <a href="#" class="block px-4 py-2 text-sm text-white hover:bg-gray-600" onclick="copyLink('${message.content}')"><i class='fas fa-copy mr-2'></i> Copy</a>
                            //                 <a href="#" class="block px-4 py-2 text-sm text-white hover:bg-gray-600" onclick="#"><i class='fas fa-share mr-2'></i> Share</a>
                            //                 ${sender_name === message.sender ?` <a href="#" class="block px-4 py-2 text-sm text-red-400 hover:bg-gray-600" onclick="deleteMessage(this,${message.id})"><i class='fas fa-trash mr-2'></i>Delete</a> `: ''}
                                            
                            //             </div>
                            //         </div> 
                                    
                            //     </div>
                               
                            // </div>
                            // ${message.image ?
                            // `
                            // <div class="flex mb-4 ${sender_name === message.sender ? 'justify-end' : 'justify-start'} ">
                            //     <div>
                            //     <img src="${message.image}" alt="Message image" class="myImg w-60 rounded-lg">
                            //     <p class="text-xs text-gray-400 mt-1">${message.date_sent}</p>
                            //     </div>
                            // </div>   
                            //     `:
                            // `
                            //     `}
                            //     `)
                            
    
                            }
                            
                                //listen to the image modal event to view images
                               
                               
                           });
                       }
                       
                       
                       

                       //add a listener for toggling message options
                      
                       

                   }else{
                       showMyToast('An error occured try reloading', 'error')
                   }
                    //Scroll to bottom of messages 

                    // messagesContainer[0].scrollTo({
                    //         top: messagesContainer[0].scrollHeight,
                    //         behavior: "smooth"
                    //     })
                    messagesContainer.animate({
                        scrollTop: messagesContainer[0].scrollHeight,
                    },'smooth')
                  
               },
               complete:function(){
                    $('.message-loader').toggleClass('hidden')
                    imgModalListener()
                    messageOptionsListener()
                },
               error: function(jqXHR, textstatus, errorThrown){
               
                showMyToast('An error occured, please try reloading page', 'error')
               }
           })
       }
    
        get_messages()

        fileInput.on('change',(e)=>{
            const file = fileInput[0].files[0]
            let name = String(file.name)
            if(name.length>=20){
                name = name.slice(0,20) + '...'
            }
            $('#image-name').removeClass('hidden')
            $('#image-name span').text(`image: ${name}`)
            $('#image-name i').on('click',()=>{
                fileInput[0].value = ''
                $('#image-name').addClass('hidden')
            })
        })
        
        messageForm.on("submit", async (e)=>{
            e.preventDefault()
            
        const content = messageInput.val().trim();
        const fileInput = $('#imageUpload')
        const file = fileInput[0].files[0]
        const reader = new FileReader()
        var data = {
                message: content,
                sender: sender_name,
            }
        const isImage = file && file.type.startsWith('image/')
        
        if(isImage){
            //ensure reader finishes before proceeding to next code
            await new Promise(resolve =>{
                reader.onload = function(event){
            const base64File = event.target.result.split(',')[1]
            data =  {...data,file:base64File, fileName:file.name}
            resolve()

            }
            reader.readAsDataURL(file)
            })
            
        }
        if(file && !file.type.startsWith('image/')){
            showMyToast('Selected file is  not an image', 'error')
            return
        }
        
        if (content || isImage) {
            //send_message(content)
            messageInput[0].value = '';
            console.log(data)
            groupChatSocket.send(JSON.stringify(data))
        }else{
            showMyToast('Add content to your message', 'info')
        }
        
        })

    groupChatSocket.onmessage = function(e){
        const data = JSON.parse(e.data) 
        console.log(data)
        get_messages()
    }
    groupChatSocket.onerror = function(e){
        showMyToast('An error occured during sending, please try again','error')
        }
        

})
    

    

</script>
{% endblock messages %}


{% block not_content %}
<style>
    .messages-container{
        border: 1px solid black;
        overflow-y: scroll;
        height: 400px;
        width: 600px;
        padding: 1rem;
        
        
    }
</style>
<h1>{{family}} Chat</h1>

<div class="messages-container" id="messages">
</div>


<textarea  id="to-send" name="content" cols="60" rows="4" placeholder="Write something">
</textarea>
<button id="submit">Send</button>

{{request.user.username|json_script:"sender_username"}}
{{family.name|json_script:"family_name"}}

<script>
    $(()=>{
    var sender_name = document.querySelector("#sender_username").textContent
    sender_name =  sender_name.replace(/^["'](.*)["']$/, '$1')
    var family_name = document.querySelector("#family_name").textContent
    family_name = family_name.replace(/^["'](.*)["']$/, '$1')
    
    const groupChatSocket = new WebSocket(
            'ws://' + 
            window.location.host + 
            '/ws/chat/group/'+
            family_name +  "/"
    )
    console.log("connected to websocket...")
    function get_messages(){
            messagesContainer = $("#messages")
            $.ajax({
               url: "{% url 'chat:get_family_messages' family.name %}",
               type: 'GET',
               success: function(res){
                   if(res.message === 'success'){
                       console.log(res.messages)
                       messagesContainer.empty()
                       res.messages.forEach(message => {

                           if(sender_name == message.sender){
                               messagesContainer.append(`
                           <p class='from-user'>
                               ${message.content} - <b>${message.sender}(${message.date_sent})</b>
                               </p> 
                           `)
                           }else{
                               messagesContainer.append(`
                           <p class='from-recipient'>
                               ${message.content} - <b>${message.sender}(${message.date_sent})</b>
                               </p> 
                           `)
                           }
                           
                       });
                   }else{
                       console.log(res.message)
                   }
               }
           })
       }
    
    get_messages()
    $("#submit").on("click",(e)=>{
        const messageInput = document.querySelector("#to-send")
        groupChatSocket.send(JSON.stringify({
            "message": messageInput.value,
            "sender":sender_name,
        }))

        messageInput.value = ''
    })

    groupChatSocket.onmessage = function(e){
        const data = JSON.parse(e.data) 
        const messages = $("#messages")
         /*messages.append(
            `<p>${data.message} by <em>${data.sender}</em></p> `
         )*/
        get_messages()
    }

})
    

    

</script>



{% endblock not_content %}