
{% extends "chat/chats.html" %}
{% load static %}
{% block title %}{{receiver}}{% endblock title %}

{% block style %}
<style>
    .messages-container{
        min-height: 100%;
        /* background: rgba(29, 31, 32, 0.904)
    radial-gradient(rgba(255, 255, 255, 0.712) 10%, transparent 1%); */
    }
    
    @media (max-width: 768px) {
        .chats-container{
            display: none;
        }
        #backArrow{
            display: block;
        }
        
        nav{
        display: none;
        }
        .message-form-container{
            position: absolute;
            bottom: 0;
            width: 100%;
            left: 0;
        }
        .chats-main{
            padding:0 0;
        } 
       
        
    }
    @media (min-width: 768px) {
        
        .messages-container{
            margin: 0 1rem;
        }
        #chatHeader{
         padding: 1rem;   
        }
       

        
        
       
    }


</style>


{% endblock style %}



{% block messages %}

        <!-- <div class="bg-gradient-to-r from-orange-900 via-gray-900 to-purple-900 rounded-xl shadow-lg p-4 mb-4 flex items-center gap-4">
            <img src="{{receiver.profile_picture.url}}" alt="{{receiver}} profile picture" class="w-16 h-16 rounded-full border-4 border-orange-500 object-cover shadow">
            <div class="flex-1">
                <div class="flex items-center gap-2 mb-1">
                    <span class="font-bold text-orange-400 text-lg">{{receiver.nickname|default:receiver}}</span>
                    <span class="bg-gray-800 text-gray-300 text-xs px-2 py-1 rounded-full">Rang: {{receiver.rank|default:"-"}}</span>
                </div>
                <div class="flex gap-4 text-sm text-gray-300">
                    <span>🏆 Victoires: <span class="font-bold text-green-400">{{receiver.wins|default:"0"}}</span></span>
                    <span>💔 Défaites: <span class="font-bold text-red-400">{{receiver.loses|default:"0"}}</span></span>
                    <span>📈 Position: <span class="font-bold text-orange-300">{{receiver.position|default:"-"}}</span></span>
                </div>
            </div>
        </div> -->
         <!--Chat header --> 
        <div id="chatHeader" class=" p-3 bg-transperent border-b border-gray-700 flex items-center">
            <a onclick="showOverlay()" href="{% url 'chat:all' %}">
                <i id="backArrow" class="fas fa-arrow-left mr-2 text-xl hover:text-orange-500 hidden"></i>
            </a>

            <a onclick="showOverlay()" href="{% url 'users:player' receiver.user.username %}">
                <img src="{{receiver.profile_picture.url}}" alt="{{receiver}} profile picture" class="w-10 h-10 rounded-full mr-3">
            </a>
            
            
            <a onclick="showOverlay()" href="{% url 'users:player' receiver.user.username %}" class=" flex flex-col ">
                <div class="text-sm font-semibold">{{receiver}}</div>
                <div class="text-xs ellipsed">
                    {% if last_seen == 'en ligne' %} <span>vu: <span class="text-green-500">{{last_seen}}</span></span> {% else %} <span>vu: {{last_seen}}</span>  {% endif%}
                    
                </div>
                
        </a>
        </div>

        <div class="p-4 mb-4 flex flex-col justify-center items-center gap-4">
            <img src="{{receiver.profile_picture.url}}" alt="{{receiver}} profile picture" class="w-16 h-16 rounded-full border-4 border-orange-500 object-cover shadow">
            <div class="flex-1">
                <div class="flex justify-center items-center gap-2 mb-1">
                    <span class="font-bold text-orange-400 text-lg">{{receiver.nickname|default:receiver}}</span>
                    <span class="bg-gray-800 text-gray-300 text-xs px-2 py-1 rounded-full">Rang: {{receiver.rank|default:"-"}}</span>
                </div>
                <div class="flex gap-4 text-sm text-gray-300">
                    <span>🏆 Victoires: <span class="font-bold text-green-400">{{receiver.wins|default:"0"}}</span></span>
                    <span>💀 Défaites: <span class="font-bold text-red-400">{{receiver.loses|default:"0"}}</span></span>
                    <span>✳️ Clan : <span class="font-bold truncate text-orange-300">{{receiver.family|default:"-"}}</span></span>
                </div>
                <a href="/duels/new?target={{receiver.user.username}}" class="action-btn  flex items-center justify-center button-smooth bg-gray-800  text-xs px-2 py-1 rounded-lg  text-orange-500 font-bold 
                            rounded-full transition duration-300 ease-in-out" data-action="challenge">
                                <i class="fas fa-fire text-2xl mr-2"></i> Defier en duel                
                </a>
            </div>
        </div> 


         <!-- Messages --> 
        <div id="messagesContainer"  class="relative flex-grow px-2 py-4  overflow-y-auto">
            
            <!-- Messages will be added here dynamically --> 
             <div class="flex flex-col h-full items-center justify-center">
                <img src="{% static 'svg/empty-message.svg'  %}" alt="empty-messages" class="h-32 w-32" >
                
                <p>
                    Aucun message dans cette conversation
                </p>
                <p class="text-xs text-center" >Vos conversations sont <span class="text-orange-500">chiffrés</span>, seul vous et votre interlocuteur peuvent lire vos messages</p>

            </div>
            
        </div>
        
        <div class="mb-1 md:hidden">
            <p class="opacity-0" >Margin</p>

        </div>


        


        
        <p id="connection-message" class="text-sm"><i class="fas fa-spinner mr-2 fa-spin text-orange-500"></i>Connection...</p>
        <div class="relative border-t border-gray-700 message-form-container px-2 py-4 ">
            <p id="image-name" class="hidden top-0 absolute">
                <span class="text-green-500"></span>   
                <i class="fas fa-times cursor-pointer ml-2"></i> 
            </p>
            <div class="message-loader top-0 absolute hidden">
                <i class="fas fa-spinner fa-spin text-orange-500"></i>
            </div>
            <div id="replyContainer" class="hidden bg-gray-800 text-gray-300 p-2 rounded-lg mb-2 flex items-center justify-between">
                <div id="replyText" class="text-sm"></div>
                <button id="cancelReplyButton" class="text-red-500 hover:text-red-400 focus:outline-none">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <form id="messageForm" class="flex items-center focus:outline-none focus:ring-2 focus:ring-gray-500" enctype="multipart/form-data">
                    
                
                <button type="button" id="emojiButton" class="px-4 py-2 self-end text-gray-400 hover:text-white  focus:outline-none">
                    <i class="far fa-smile"></i>
                </button>
                <label for="imageUpload" class="cursor-pointer   text-white self-end py-2 px-2 pr-4 rounded-full  transition duration-300">
                    <i class="fas fa-image"></i>
                </label>
                <textarea type="text" oninput="autoExpand(this)" id="messageInput" placeholder="Ecrit ton message ✒️" class="hide-scrollbar pr-4 flex-grow max-h-40 bg-transparent text-white focus:outline-none border border-gray-700 px-4 py-2 rounded-3xl" rows="1"></textarea>

                
                <input type="file" id="imageUpload" accept="image/*" class="hidden">
                
                <button disabled type="submit" id="sendButton" class="disabled  self-end  text-white px-6 py-2 rounded-full  transition duration-300">
                    <i class="fa fa-paper-plane"></i>
                </button>
            </form>
            <div id="emojiPicker" class="emoji-picker">
                
            </div>
        </div>



        <!-- Message input --> 
        <!-- <div class="bg-gray-900 relative hidden message-form-container p-4">
            <p id="image-name" class="hidden top-0 absolute">
                <span class="text-green-500"></span>   
                <i class="fas fa-times cursor-pointer ml-2"></i> 
            </p>
            <div class="message-loader top-0 absolute hidden">
                <i class="fas fa-spinner fa-spin text-orange-500"></i>
            </div>
            <form id="messageForm" class="flex" enctype="multipart/form-data">
                
               
                    <label for="imageUpload" class="cursor-pointer  text-white px-4 py-2 rounded-lg hover:bg-gray-500 transition duration-300">
                        <i class="fas fa-image"></i>
                    </label>
                    <input type="file" id="imageUpload" accept="image/*" class="hidden">
                
                
                <input type="text" id="messageInput" placeholder="Type a message" class="flex-grow max-h-40 mr-2 p-2 shadow-md border-1 border-gray-800  rounded-full focus:outline-none focus:ring-2 focus:ring-gray-500 bg-gray-900 text-white">
                <button type="submit" class="bg-gray-600 opacity-8 hover:bg-gray-700 text-white px-6 rounded-full  transition duration-300">
                    <i class="fa fa-paper-plane"></i>
                </button>
            </form>
        </div> -->
        




<!--   JS      -->
{{ request.user.username|json_script:"sender_name" }}
{{ receiver.user.username|json_script:"receiver_name"}}
{{room|json_script:"room_name"}}
{% block main_active %}
<script>
    $(()=>{
        
        $('.bottom-nav').addClass('hidden')
        
    })
</script>
{% endblock main_active  %}


<script>
   

    $(()=>{
        //register the scrolltoplugin    
        // gsap.registerPlugin(ScrollToPlugin);
        var chatMessages = []
        
        var sender_name = JSON.parse(document.querySelector("#sender_name").textContent) 
        //sender_name =  sender_name.replace(/^["'](.*)["']$/, '$1')//remove quotes at the start and end of text
        var receiver_name = JSON.parse(document.querySelector("#receiver_name").textContent) 
        //receiver_name =  receiver_name.replace(/^["'](.*)["']$/, '$1')//remove quotes
        
        var room = JSON.parse(document.querySelector("#room_name").textContent) 
        //room =  room.replace(/^["'](.*)["']$/, '$1')
        
        const messagesContainer = $("#messagesContainer")
        const messageForm = $('#messageForm')
        const messageInput = $('#messageInput');
        const fileInput = $('#imageUpload')

        // const wsprotocol = window.location.protocol === 'https' ? 'wss://' : 'ws://'
        const wsprotocol = window.location.host === 'roleplayverse.live' ? 'wss://' : 'ws://' 
        console.log("WS Protocol:",window.location.protocol, window.location.host)
        const chatSocket  = new WebSocket(
            wsprotocol + 
            window.location.host + 
            '/ws/chat/private/'+
            room +  "/"
        )
        
        
        

        function createUserMessage(message){
        const messageElement = document.createElement('div')
        messageElement.className = `message fade-in-up  max-w-2xl min-w-32`;
        messageElement.id = `message-${message.id}`
        messageElement.innerHTML = `
       
            <div class="relative group">
                <div class="flex items-start  mb-2 justify-end">
                    <img src = '${message.sender.profile_picture}' alt="${message.sender.username}" class="w-8 h-8 rounded-full mr-2">
                    <div class="flex-grow pl-3">
                        ${message.parent ? `
                        <div onclick="scrollToMessage('${message.parent.id}')" class="cursor-pointer bg-gray-800 text-gray-400 text-sm p-2 rounded-lg mb-2">
                            <p>Réponse à: <strong>${message.parent.sender.username}</strong></p>
                            <p>${String(message.parent.content).slice(0,50)}</p>
                        </div>
                        ` : ''}
                        
                        <p class="body  text-gray-300 mt-1 border-l-2 border-orange-500 w-full p-3 min-w-32 rounded-tr-xl inline-block">${message.content}</p>
                        <br>
                        <span class="text-xs text-gray-400 pl-3">${message.date_sent}</span> 
                    </div>
                    <button data-message-content = "${message.content ? message.content :'Photo' }" onclick = 'addReply(this, "${message.id}", "")' class="cursor-pointer  block px-4 rounded-full text-sm text-gray-300  hover:text-white">
                            <svg xmlns="http://www.w3.org/2000/svg" class='w-8 h-8'  viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8.8 6l-5.6 5a1 1 0 0 0 0 1.5l5.7 5m5.7-3.1V16a1 1 0 0 1-1.5.8l-5.2-4.2a1.1 1.1 0 0 1 0-1.7l5.2-4.2a1 1 0 0 1 1.5.8v1.7c3.3 0 6 3 6 6.7v1.3a.7.7 0 0 1-1.4.4a5.2 5.2 0 0 0-4.6-3.2"/></svg>
                    </button>
                    <div class="message-options ml-4 opacity-100 group-hover:opacity-100">
                    <div class="relative">
                        <button class="optionsButton text-gray-400  round-btn hover:bg-gray-600 hover:text-white focus:outline-none" id="">
                            <i class="fas fa-ellipsis text-xs"></i>
                        </button>
                        <div class="optionsMenu absolute right-0 mt-2 w-36 border border-gray-700 bg-gray-900 bg-opacity-80 rounded-xl shadow-lg z-10 hidden" id="">
                            <ul class="py-1">
                                <li>
                                    <a  data-message-content = "${message.content ? message.content :'Photo' }" onclick = 'addReply(this, "${message.id}", "")' class="cursor-pointer block px-4 py-2 text-sm text-gray-300 hover:bg-gray-600 hover:text-white">
                                        <i class="fas fa-reply mr-2"></i> repondre
                                    </a>
                                </li>
                                <li>
                                    <a  onclick = 'copyLink("${message.content}")' class="cursor-pointer block px-4 py-2 text-sm text-gray-300 hover:bg-gray-600 hover:text-white">
                                        <i class="fas fa-copy mr-2"></i> Copy
                                    </a>
                                </li>
                                <li>
                                    <a  onclick='deletePrivateMessage(this,"${message.id}")' class="cursor-pointer block px-4 py-2 text-sm text-red-400 hover:bg-gray-600 hover:text-red-300">
                                        <i class="fas fa-trash-alt mr-2"></i> Delete
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                </div>
                
                
                
            
        `

        return messageElement
    } 
        function createFriendMessage(message){
        const messageElement = document.createElement('div')
        messageElement.className = `rounded-lg fade-in-up max-w-2xl min-w-32 select-none`
        messageElement.id = `message-${message.id}`
        messageElement.innerHTML = `
        <div class="relative group ">
                <div class="flex items-start mb-2">
                    <img src = '${message.sender.profile_picture}' alt="${message.sender}" class="w-8 h-8 rounded-full mr-2">
                    <div class="flex-grow pl-3">
                        ${message.parent ? `
                        <div onclick="scrollToMessage('${message.parent.id}')" class="cursor-pointer bg-gray-800 text-gray-400 text-sm p-2 rounded-lg mb-2">
                            <p>Réponse à: <strong>${message.parent.sender.username}</strong></p>
                            <p>${String(message.parent.content).slice(0,50)}</p>
                        </div>
                        ` : ''}
                        <p class="body  text-gray-300 mt-1 border-l-2 border-gray-600 w-full p-3 min-w-32 rounded-tr-xl inline-block">${message.content}</p>
                        <br>
                        <span class="text-xs text-gray-400 pl-3">${message.date_sent}</span>    
                    </div>   
                    <button  data-message-content = "${message.content ? message.content :'Photo' }" onclick = 'addReply(this, "${message.id}", "")' class="cursor-pointer  block px-4 rounded-full text-sm text-gray-300  hover:text-white">
                        <svg xmlns="http://www.w3.org/2000/svg" class='w-8 h-8'  viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8.8 6l-5.6 5a1 1 0 0 0 0 1.5l5.7 5m5.7-3.1V16a1 1 0 0 1-1.5.8l-5.2-4.2a1.1 1.1 0 0 1 0-1.7l5.2-4.2a1 1 0 0 1 1.5.8v1.7c3.3 0 6 3 6 6.7v1.3a.7.7 0 0 1-1.4.4a5.2 5.2 0 0 0-4.6-3.2"/></svg>
                    </button>
                    <div class="message-options   ml-4 opacity-100 group-hover:opacity-100">
                    <div class="relative">
                        <button class="optionsButton text-gray-400  round-btn hover:bg-gray-600 hover:text-white focus:outline-none" id="">
                            <i class="fas fa-ellipsis text-xs"></i>
                        </button>
                        <div class="optionsMenu absolute right-0 mt-2 w-36 bg-gray-900 bg-opacity-80 rounded-xl border border-gray-700 shadow-lg z-10 hidden" id="">
                            <ul class="py-1">
                                <li>
                                    <a data-message-content = "${message.content ? message.content :'Photo' }"  onclick='addReply(this, "${message.id}", "");' class="block cursor-pointer px-4 py-2 text-sm text-gray-300 hover:bg-gray-600 hover:text-white">
                                        <i class="fas fa-reply mr-2"></i> Répondre
                                    </a>
                                </li>
                                <li>
                                    <a onclick="copyLink('${message.content}')" class="block cursor-pointer px-4 py-2 text-sm text-gray-300 hover:bg-gray-600 hover:text-white">
                                        <i class="fas fa-copy   mr-2"></i> Copier
                                    </a>
                                </li>
                                
                                
                                
                                
                                
                            </ul>
                        </div>
                    </div>
                </div>
                </div>
                
                
            </div>
        
        `

        return messageElement
    }

        function addMessage(container, message){            
                chatMessages.push(message);
                messages = chatMessages;
                
                
                //add date if last message and current message were sent on different dates
                // if( messages[i-1] && messages[i-1].day !== message.day ){
                //     container.append(`
                //     <div class="date-divider my-4 text-center text-gray-500 text-sm">
                //         <span class="bg-gray-800 px-4 py-1 rounded-full">
                //             ${message.date}
                //         </span>
                //     </div>
                //     `)   
                // }
                if(message.image){   
                    container.append( `
                <!--
                <div class="relative group flex mb-4 p-4 rounded-lg ${sender_name === message.sender.username ? 'justify-end' : 'justify-start'} ">
                -->
                <div id ='message-${message.id}' class="relative group flex mb-4 rounded-lg ${sender_name === message.sender.username ? '' : ''} ">
                <img src = '${message.sender.profile_picture}' alt="${message.sender.username}" class="min-w-8 h-8 rounded-full mr-2">
                <div>
                    ${message.parent ? `
                    <div onclick="scrollToMessage('${message.parent.id}')" class="cursor-pointer bg-gray-800 text-gray-400 text-sm p-2 rounded-lg mb-2">
                        <p>Réponse à: <strong>${message.parent.sender.username}</strong></p>
                        <p>${String(message.parent.content).slice(0,50)}</p>
                    </div>
                    ` : ''}
                <img src="${message.image}" alt="Message image" class="myImg w-60 rounded-lg">
                <p class="text-gray-300">${message.content? message.content : ''}</p>
                <p class="text-xs text-gray-400 mt-1">${message.date_sent}</p>
                </div>
            <div class="message-options  top-0 left-0 mt-1 ml-1 opacity-100 group-hover:opacity-100">
                <div class="relative">
                    <button class="optionsButton bg-gray-500 round-btn hover:bg-gray-600 rounded-full text-gray-400 hover:text-white focus:outline-none" id="">
                        <i class="fas fa-ellipsis-v text-xs"></i>
                    </button>
                    <div class="optionsMenu absolute right-0 mt-2 w-48 bg-gray-900 bg-opacity-80 rounded-xl border border-gray-700 shadow-lg z-10 hidden" id="">
                        <ul class="py-1">
                            <li>
                                <a data-message-content = "${message.content ? message.content :'Photo' }"  onclick='addReply(this, "${message.id}", "")' class="cursor-pointer block px-4 py-2 text-sm text-gray-300 hover:bg-gray-600 hover:text-white">
                                    <i class="fas fa-reply mr-2"></i> Repondre
                                </a>
                            </li>
                            <li>
                                <a href="#" onclick = 'copyLink("${message.content}")' class="block px-4 py-2 text-sm text-gray-300 hover:bg-gray-600 hover:text-white">
                                    <i class="fas fa-copy mr-2"></i> Copy
                                </a>
                            </li>
                            <li>
                                <a href="#" class="block px-4 py-2 text-sm text-gray-300 hover:bg-gray-600 hover:text-white">
                                    <i class="fas fa-edit mr-2"></i> Edit
                                </a>
                            </li>

                            ${sender_name === message.sender.username ? `
                            <li>
                                <a href="#" onclick='deletePrivateMessage(this,"${message.id}")' class="block px-4 py-2 text-sm text-red-400 hover:bg-gray-600 hover:text-red-300">
                                    <i class="fas fa-trash-alt mr-2"></i> Delete
                                </a>
                            </li>
                            `:``}

                        </ul>
                        </div>
                    </div>
                </div> 
                    `)

                }else{
                const messageElement = sender_name === message.sender.username ? createUserMessage(message):createFriendMessage(message)
                container.append(messageElement)   
            //         messageDiv = `
            //         <div class="message mb-4 ${sender_name === message.sender ? 'text-right' : ''}">
            //         <div class="inline-block ${sender_name === message.sender ? 'bg-indigo-600 text-white' : 'bg-gray-700'} rounded-lg py-2 px-4 max-w-full ">
            //             <p class='text body'>${message.content}</p>
            //             <p class="text-xs text-gray-400 mt-1">${message.date_sent}</p>

            //             <div class="message-options" style="position: relative;">
            //             <div class="options hidden w-32 bg-gray-700 rounded-md shadow-lg absolute z-10">
            //                 <a href="#" class="block px-4 py-2 text-sm text-white hover:bg-gray-600" onclick="copyLink('${message.content}')"><i class='fas fa-copy mr-2'></i> Copy</a>
            //                 <a href="#" class="block px-4 py-2 text-sm text-white hover:bg-gray-600" onclick="#"><i class='fas fa-share mr-2'></i> Share</a>
            //                 ${sender_name === message.sender ?` <a href="#" class="block px-4 py-2 text-sm text-red-400 hover:bg-gray-600" onclick="deleteMessage(this,${message.id})"><i class='fas fa-trash mr-2'></i>Delete</a> `: ''}
                            
            //             </div>
            //         </div> 
                    
            //     </div>
                
            // </div>
            //     `
            }
            //listen to the image modal event to view images
            imgModalListener()   
              
        }

        function get_messages(){
            
             $.ajax({
                url: "{% url 'chat:get_messages' receiver.id %}",
                type: 'GET',
                beforeSend:function(){
                    $('#image-name i').trigger('click')
                    $('.message-loader').toggleClass('hidden')
                },
                success: function(res){
                    if(res.message === 'success'){
                        const messages = res.messages
                        if(messages.length > 0){
                            messagesContainer.empty()
                            chatMessages = messages
                            
                            messages.forEach((message, i) => {
                            
                            if( messages[i-1] && messages[i-1].day !== message.day){
                                messagesContainer.append(`
                                <div class="date-divider my-4 text-center text-gray-500 text-sm">
                                    <span class="bg-gray-800 px-4 py-1 rounded-full">
                                        ${message.date}
                                    </span>
                                </div>
                                `)   
                            }
                            addMessage(messagesContainer, message);
                            
                        });
                        }
                        
                        
                        
                        //add a listener for toggling message options
                        $(".message .text").on("taphold, mousedown",(e)=>{
                            
                            parent = $(e.target).parent()
                            
                            options = parent.find('.options')
                            $(options).toggle()
                        })
                        $(".option-btn").on("click", (e)=>{
                            option = e.target.dataset.option
                            
                            parent = $(e.target).parent('.options');
                            message = $(parent).find('.text')
                            
                            
            
                        if(option == "delete"){
                console.log("delete message")
                /*
                $.ajax({
                    url:`/post/${postID}`,
                    type: "DELETE",
                    data: {csrfmiddlewaretoken:'{{csrf_token}}'},
                    success: function(res){
                        console.log(res)
                        if(res.status == "success"){
                            //remove post
                        }
                    }
                })
                    */
            }else if(option == "reply"){
                console.log($("#file-input").val())

                
                message = $($(parent).parent()).parent()
                text = $(message.find(".text")).text()
                //console.log($(text).text())
                
                $(".reply-to").empty()
                $(".reply-to").append(`
                <div class = 'discard'>X</div>
                <div>${text}<div>
                `)
                $(".discard").on("click",(e)=>{
                        $(".reply-to").empty()
                })
                    
            }

        })

        //Scroll to bottom of messages 

        // messagesContainer[0].scrollTo({
        //         top: messagesContainer[0].scrollHeight,
        //         behavior: "smooth"
        //     })
        messagesContainer.animate({
            scrollTop: messagesContainer[0].scrollHeight,
        },'smooth')
                }else{
                       
                        showMyToast(res.message)
                    }
                },
                complete:function(){
                    $('.message-loader').toggleClass('hidden')

                    //linkify messages
                    document.querySelectorAll('.body').forEach((element)=>{
                    element.innerHTML = linkifyHtml(element.textContent, {
                    target:"_blank",
                    className: 'link'
                })
            })
                messageOptionsListener()
                },
                error: function(jqXHR, textstatus, errorThrown){
                    showMyToast('Une erreur est survenu, recharge la page', 'error')
                   
                }
            })
        }
        
        
        

       chatSocket.onopen = function(e){
        get_messages()
        enableButton("sendButton")
        hideConnectionMessage()

       }

       
        
        chatSocket.onmessage = function(e){
            const data = JSON.parse(e.data)
            messagesContainer.animate({
                    scrollTop: messagesContainer[0].scrollHeight,
                },'smooth') 
            addMessage(messagesContainer, data.message_data)
            
            // get_messages()
        }

        chatSocket.onclose = function(e){
        showMyToast("Connection perdu. recharge la page",'error')
        disableButton("sendButton")
        hideConnectionMessage()
        //window.location.reload()
      }

        chatSocket.onerror = function(e){
            showMyToast('An error occured during sending, please try again','error')
            disableButton("sendButton")
            hideConnectionMessage()
        }



        function send_message(content){
            // var formData = new FormData()
            // console.log(fileInput[0].files[0])
            // formData.append('file',fileInput[0].files[0])
            // console.log(formData)

            // const reader = new FileReader();
            // reader.onload = function(event) {
            //     console.log(event.target.result.name)
            // };
            // reader.readAsDataURL(fileInput[0].files[0]);

            // $.ajax({
            //     url: '',
            //     type: 'POST',
            //     data: formData,
            //     processData: false,
            //     contentType: false,

            //     success: function(res){
            //         console.log('files sent')
            //     },
            //     error: function(jqXHR, textstatus, errorThrown){
            //         console.log(textstatus, errorThrown)
            //     }
            // })

            messageInput[0].value = '';
            showMyToast('Sent','success')
        }

        fileInput.on('change',(e)=>{
            const file = fileInput[0].files[0]
            let name = String(file.name)
            if(name.length>=20){
                name = name.slice(0,20) + '...'
            }
            $('#image-name').removeClass('hidden')
            $('#image-name span').text(`image: ${name}`)
            $('#image-name i').on('click',()=>{
                fileInput[0].value = ''
                $('#image-name').addClass('hidden')
            })
        })
       
        messageForm.on("submit", async (e)=>{
            e.preventDefault()
            
        const content = messageInput.val().trim();
        
        const file = fileInput[0].files[0]
        const reader = new FileReader()
        var data = {
                content: content,
                sender: sender_name,
                receiver: receiver_name,
            }
        if (replyToMessageId) {
            data.reply_to = replyToMessageId; // Include the reply message ID
        }    
        const isImage = file && file.type.startsWith('image/')
        
        if(isImage){
            //ensure reader finishes before proceeding to next code
            await new Promise(resolve =>{
                reader.onload = function(event){
            const base64File = event.target.result.split(',')[1]
            data =  {...data,file:base64File, fileName:file.name}
            resolve()

            }
            reader.readAsDataURL(file)
            })
            
        }
        if(file && !file.type.startsWith('image/')){
            showMyToast('Selected file is  not an image', 'error')
            return
        }
        
        if (content || isImage) {
            //send_message(content)
            messageInput[0].value = '';
            console.log(data)
            chatSocket.send(JSON.stringify(data))
            replyToMessageId = null; // Clear the reply message ID after sending
            replyContainer.classList.add('hidden'); // Hide the reply container
            replyText.textContent = ''; // Clear the reply text
        }else{
            // showMyToast('Add content to your message', 'info')
        }
        
        })
        

    })

</script>        
{% endblock messages %}

