{% extends "core/base.html" %}
{% load static %}
{% block meta_keywords  %}
{% for character in characters %}
technique de {{character.name}}
{% endfor %}
{% endblock meta_keywords %}

{% block meta_description  %}
Decouvrez les techniques de tout les personnages de l'univers Naruto
{% endblock meta_description %}


{% block content %}
<div class="container mx-auto p-6">
    <h1 class="text-4xl font-bold mb-6 text-orange-500 mt-20 text-center">Persos & Jutsu Naruto(Mode Duel)</h1>
    
    <div class="mb-6">
        <input id="searchCharacter" oninput="searchCharacter()" type="text" placeholder="Rechercher persos..." class="w-full px-4 py-2 rounded-2xl bg-gray-900 text-white placeholder-gray-400">
    </div>
    
    <div id="characters" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6">
        {% for character in characters %}
        <div class="character grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-4 bg-gray-900 rounded-2xl text-white p-4">
            {% if character.image %}
            <img src="{% static 'images/loaders/img-loader.gif' %}" onload ="replacePlaceholder(this,'{{character.image}}')" alt="{{character.name}}" class="rounded-2xl h-full w-full object-cover">
            {% endif %}
            <div>
            <h2 class="text-2xl font-semibold text-orange-500 mt-2">{{character.name}} <span class="text-xs mx-2 bg-gray-800 text-gray-300 px-2 py-1 rounded-full">{{character.rank}}</span></h2>
            <h3 class="my-2 font-medium">Techniques speciales :</h3>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-1  gap-4">
                {% for jutsu in character.jutsus %}
                <div class = "flex justify-between items-center border border-gray-700 px-4 py-2 space-x-2 rounded-full shadow">
                <span class = "text-xs truncate max-w-32">{{jutsu.name}}  </span>
                    <div>
                        <span class="text-xs bg-gray-800 text-gray-300 px-2 py-1 rounded-full">{{jutsu.type}}</span>
                        <span class="text-xs bg-gray-800 text-gray-300 px-2 py-1 rounded-full">{{jutsu.rank}}</span>
                        <span class="text-xs bg-yellow-500 text-gray-200 font-bold  px-2 py-1 rounded-full mx-2">{{jutsu.chakra_cost}}</span>
                    </div>
                <!-- <p class="text-xs text-gray-400 truncate">{{jutsu.description}}</p> -->
                </div>
                
                {% endfor %}
            </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>



<!-- <h1>Playable characters</h1>

<div class="characters-container" style="display: flex; flex-wrap: wrap;">
<div class="character">
    {% for character in characters %}
<h1>{{character.name}}</h1>
<img src="{{character.images.0}}" width="200px" height="200px">
<ul>
    {% for jutsu in character.jutsu %}
    <li>{{jutsu}}</li>
    {% endfor %}
</ul>
</div>
{% endfor %}
</div> -->


<script>
    function searchCharacter() {
        const searchValue = document.getElementById('searchCharacter').value.toLowerCase();
        const characterList = document.getElementById('characters');
        const characters = characterList.getElementsByClassName('character');

        for (let i = 0; i < characters.length; i++) {
            const characterName = characters[i].getElementsByTagName('h2')[0].innerText.toLowerCase();
            if (characterName.includes(searchValue)) {
                characters[i].style.display = '';
            } else {
                characters[i].style.display = 'none';
            }
        }
    }
</script>
{% endblock content %}



