{% extends "core/base.html" %}
{% load static %}
{% block title %} {{content.title}} {% endblock title %}

{% block content  %}
<style>
   
</style>


<div id="contentContainer" class="max-w-2xl mx-auto  pt-32 pb-8 space-y-6 text-white flex flex-col items-center justify-center"  >
</div>
<!-- <div class="rounded-lg p-3 pb-8 border border-orange-500 mb-6">
    <div class="flex items-center mb-2">
      <img src="{% static 'images/logo/logo_1_nobg.png' %}" class="h-6 w-6 mr-2">
      <span class="text-sm text-gray-600">Sponsorisé par la Boutique RPV</span>
    </div>
    <div class="flex gap-4">
      <img src="https://autods-scraper-images.s3-us-west-2.amazonaws.com/ce8d89dfc9bf4990e636b2ae6ad1928e.png" class="h-24 w-24 object-cover rounded" />
      <div>
        <h4 class="font-bold text-sm">Sac ninja personnalisable</h4>
        <p class="text-xs text-gray-500">Pour transporter ton équipement RP</p>
        <a href="/boutique/sac-ninja" class="text-sm text-orange-600 hover:underline">Voir produit</a>
      </div>
    </div>
</div> -->
  

{{ playerName|json_script:'player' }}
{{ player.user.username | json_script:'username' }}
<script>
           
    // Get the modal

</script>

<!-- toast management -->

<script>

    var currentPlayerData = {
            player: '{{player}}',
            username: '{{player.user.username}}',
        }
          
        $(()=>{
    
            const currentPlayer = JSON.parse(document.getElementById('player').textContent)
            const currentPlayerUsername = JSON.parse(document.getElementById('username').textContent)
          
    
    


    
    
    // Function to render posts
    function renderContent() {
    
        const contentContainer = document.getElementById('contentContainer');
        const loader = document.getElementById('loading-overlay');
        
        $.ajax({
            url:"",
            type:"POST",
            data: {
                csrfmiddlewaretoken: '{{csrf_token}}'
            },
            beforeSend: function(){
                loader.classList.toggle('active');
            },
            success: function(res){
                if(res.status == 'success'){
                    content = res.content
                    const adElement = createAffiliateProductAdElement(res.product)
                    const contentElement = createMemeElement(content);
                    contentContainer.appendChild(contentElement);
                    contentContainer.appendChild(adElement);
                    //document.append(adElement);
                    

                }
            },
            complete: function(){
                    document.querySelectorAll('.body').forEach((element)=>{
                    element.innerHTML = linkifyHtml(element.textContent, {
                        target:"_blank",
                        className: 'link'
                    })
                    
                })
                imgModalListener()
                loader.classList.toggle('active');
            },
            error: function(jqXHR, textstatus, errorThrown){      
                showMyToast('An error occured, please try reloading page','error')
            }
        })
    
    // Animate posts appearance
    gsap.from('.post', {
        y: 50,
        opacity: 0,
        duration: 0.5,
        stagger: 0.2,
        ease: 'power2.out'
    });
    }
    
    
    renderContent();
  
})
</script>
{% endblock content %}