{% extends "users/base.html" %}
{% load static %}
{% load socialaccount %}

{% block content %}

<style>
    .valid{
        background: rgba(0, 200, 0, 0.1);
        color: rgba(0, 200, 0, 0.9);
    }
    .invalid{
        background: rgba(200, 0, 0, 0.1);
        color: rgba(200, 0, 0, 0.9);
    }
</style>


<header class="bg-gray-800 text-white p-4 animate-fadeIn">
    <div class="container mx-auto">
        <h1 class="text-2xl font-bold">Nouveau Rolleur - <span class="text-orange-500"> RPV</span></h1>
    </div>
</header>

<main class="flex-grow container mx-auto px-4 py-8 flex justify-center items-center">
    <div class="bg-gray-800 rounded-lg shadow-lg p-8 w-full max-w-md animate-slideIn">
        <h2 class="text-2xl font-bold mb-6 text-center text-orange-custom">Crée ton compte</h2>
        <form action="{% url 'users:register' %}" method="post" id="signup-form" class="space-y-4">
            <div>
                <label for="username" class="block mb-1">Nom d'utlisateur</label>
                <input type="text" id="username" name="username" placeholder="un truc cool comme {{name_suggestion}}..."  required
                       class="w-full px-3 py-2 bg-gray-700 rounded focus:outline-none focus:ring-2 focus:ring-orange-custom transition-all duration-300">
                       <div id="username-error"></div>
            </div>
            <div>
                <label for="email" class="block mb-1">Email</label>
                <input type="email" id="email" name="email" placeholder="votre email"  required
                       class="w-full px-3 py-2 bg-gray-700 rounded focus:outline-none focus:ring-2 focus:ring-orange-custom transition-all duration-300">
                <div id="email-error"></div>       
            </div>
            <div>
                <label for="password" class="block mb-1">Mot de passe</label>
                <input type="password" id="password" name="password" required
                       class="w-full px-3 py-2 bg-gray-700 rounded focus:outline-none focus:ring-2 focus:ring-orange-custom transition-all duration-300">
                       <div id="password1-error"></div>
            </div>

            <div>
                <label for="confirm-password" class="block mb-1">Confirmer Mot de passe</label>
                <input type="password" id="confirm-password" name="confirm-password" required
                       class="w-full px-3 py-2 bg-gray-700 rounded focus:outline-none focus:ring-2 focus:ring-orange-custom transition-all duration-300">
                       <div id="password2-error"></div>
            </div>
            <div class="mt-3 flex items-center">
                <input type="checkbox" id="newsletter" name="newsletter" class="mr-2">
                <label for="newsletter" class="text-xs" >Recevoir des mise à jour,info et story dans ton email</label>
            </div>
            <button type="submit"  class="submit-btn w-full bg-orange-custom text-white py-2 rounded hover:bg-orange-custom transition-all duration-300 hover:scale-105" disabled>
                Créer le compte
            </button>
        </form>
        
        <!-- <div class="mt-4 text-center">
            <p class="text-gray-400">Ou Se connecter avec Google</p>
            
            <a href="{% provider_login_url 'google' %}">
                <button id="google-signup" class="mt-2 bg-white text-gray-800 py-2 px-4 rounded flex items-center justify-center w-full hover:bg-gray-100 transition-all duration-300 hover:scale-105">
                    <img src="https://www.google.com/favicon.ico" alt="Google" class="w-5 h-5 mr-2">
                    Se connecter avec Google
                </button>
            </a>
             <a href="https://accounts.google.com/o/oauth2/v2/auth/oauthchooseaccount?client_id=548202676747-hputptpdfldk8h9bilj3mjso2ojjrbm1.apps.googleusercontent.com&redirect_uri=http%3A%2F%2Flocalhost%3A8000%2Faccounts%2Fgoogle%2Flogin%2Fcallback%2F&scope=email%20profile&response_type=code&state=hPmqb6numfVF9mOV&access_type=online&service=lso&o2v=2&ddm=0&flowName=GeneralOAuthFlow">
                <button id="google-signup" class="mt-2 bg-white text-gray-800 py-2 px-4 rounded flex items-center justify-center w-full hover:bg-gray-100 transition-all duration-300 hover:scale-105">
                    <img src="https://www.google.com/favicon.ico" alt="Google" class="w-5 h-5 mr-2">
                    Sign up with Google
                </button>
            </a> 
        </div> -->
        <p class="mt-4 text-center text-gray-400">
            Vous avez déja un compte? <a href="{% url 'users:login' %}" class="text-orange-custom hover:underline">Log in</a>
        </p>
        <p class="mt-4 text-center text-gray-400">
            en continuant, vous accepter nos <a href="/legal/terms" class="text-orange-custom hover:underline">termes</a>  et  <a href="#" class="text-orange-custom hover:underline">politiques de confidentielités </a>
        </p>
    </div>
    
</main>



<script>
    // Add subtle animation to form inputs
    const inputs = document.querySelectorAll('input');
    inputs.forEach(input => {
        input.addEventListener('focus', function() {
            this.classList.add('scale-105');
        });
        input.addEventListener('blur', function() {
            this.classList.remove('scale-105');
        });
    });
</script>
<script>

    $(()=>{
        const usernameInput = $("#username")
        const emailInput = $("#email")
        const password1Input = $("#password")
        const password2Input = $("#confirm-password")

        function checkValidity(){
            let valid = false
            validCount = 0
            const containers = [$("#username-error"), $("#email-error"), $("#password1-error"), $("#password2-error")]
            
            containers.forEach(container => {
                validCount += container.hasClass("valid") ? 1 : 0
            });

            if(validCount == containers.length){
                document.querySelector(".submit-btn").disabled = false
            }
        }
        

    usernameInput.on("input",(e)=>{
        console.log(usernameInput.val())
        $.ajax({
            url: "/users/verify_username",
            type: "POST",
            data: {
                "username":usernameInput.val(), csrfmiddlewaretoken: "{{csrf_token}}"
            },
            success: function(res){
                console.log(res.status, res.message)
                if(res.status == "valid"){
                    $("#username-error").removeClass("invalid")
                     $("#username-error").addClass("valid")
                     
                }
                else if(res.status == "invalid"){
                    $("#username-error").removeClass("valid")
                    $("#username-error").addClass("invalid")


                }
                $("#username-error").text(res.message)
                checkValidity()
               
            },
            complete: function(){

            },
            error: function(jqXHR, textstatus, errorThrown){
                console.log('Error:',errorThrown)
            }
        })
    })

        //email verification
        emailInput.on("input",(e)=>{
        console.log(emailInput.val())
        $.ajax({
            url: "/users/verify_email",
            type: "POST",
            data: {
                "email":emailInput.val(), csrfmiddlewaretoken: "{{csrf_token}}"
            },
            success: function(res){
                console.log(res.status, res.message)
                if(res.status == "valid"){
                    $("#email-error").removeClass("invalid")
                     $("#email-error").addClass("valid")
                     document.querySelector(".submit-btn")
                }
                else if(res.status == "invalid"){
                    $("#email-error").removeClass("valid")
                    $("#email-error").addClass("invalid")

                }
                $("#email-error").text(res.message)
                checkValidity()
               
            },
            complete: function(){

            },
            error: function(jqXHR, textstatus, errorThrown){
                console.log('Error:',errorThrown)
            }
        })
    })

    password1Input.on("input",(e)=>{
        password = password1Input.val()
        $.ajax({
            url: "/users/verify_password",
            type: "POST",
            data: {
                "password":password1Input.val(),
                csrfmiddlewaretoken: "{{csrf_token}}",
            },
            success: function(res){
                console.log(res.status, res.message)
                if(res.status == "valid"){
                    $("#password1-error").removeClass("invalid")
                     $("#password1-error").addClass("valid")
                     //document.querySelector(".submit-btn")
                }
                else if(res.status == "invalid"){
                    $("#password1-error").removeClass("valid")
                    $("#password1-error").addClass("invalid")

                }
                $("#password1-error").text(res.message)
                checkValidity()
               
            },
            complete: function(){

            },
            error: function(jqXHR, textstatus, errorThrown){
                console.log('Error:',errorThrown)
            }
        })
    })


    password2Input.on("input",(e)=>{
        password1 = password1Input.val()
        console.log(password2Input.val())
        $.ajax({
            url: "/users/verify_passwords",
            type: "POST",
            data: {
                "password1":password1Input.val(),
                "password2": password2Input.val(),
                csrfmiddlewaretoken: "{{csrf_token}}",
            },
            success: function(res){
                console.log(res.status, res.message)
                if(res.status == "valid"){
                    $("#password2-error").removeClass("invalid")
                     $("#password2-error").addClass("valid")
                     //document.querySelector(".submit-btn")
                }
                else if(res.status == "invalid"){
                    $("#password2-error").removeClass("valid")
                    $("#password2-error").addClass("invalid")

                }
                $("#password2-error").text(res.message)
                checkValidity()
               
            }
        })
    })

     
    })//end
    
</script>
{% endblock content %}


 
        {% block not_content %}
      

    <h1>Sign Up</h1>
    <form action="{% url 'users:register' %}" method="post">
        {% csrf_token %}
        <div class="section">
            <h2>Account Information</h2>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
                <div id="username-error"></div>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
                <div id="email-error"></div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password1" required>
                <div id="password1-error"></div>
            </div>
            <div class="form-group">
                <label for="confirm_password">Confirm Password</label>
                <input type="password" id="confirm_password" name="password2" required>
                <div id="password2-error"></div>
            </div>
        </div>

        <div class="section">
            <h2>Profile Information</h2>
            <div class="form-group">
                <label for="nickname">Pseudo</label>
                <input type="text" id="nickname" name="nickname" required>
            </div>
            <div class="form-group">
                <label for="country">Country</label>
                <select id="country" name="country" required>
                    <option value="Cameroon">Cameroon</option>
                    <option value="Congo">Congo</option>
                </select>
            </div>
            <div class="form-group">
                <label for="language">Language</label>
                <select id="language" name="language" required>
                    <option value="en">English</option>
                    <option value="fr">French</option>
                </select>
            </div>

            <div class="form-group">
                <label for="character">Preferred Character</label>
                <select id="character" name="character" required>
                    
                    {%for name in characters%}
                    <option value="{{name}}">{{name}}</option>
                    {%  endfor %}
                </select>
            </div>
        </div>
        <div>Already have an account? <a href="{% url 'users:login' %}">Signin</a></div>
        <button type="submit" class="btn submit-btn" disabled>Sign Up</button>
    </form>
 


<script>

    $(()=>{
        usernameInput = $(".form-group #username")
        emailInput = $(".form-group #email")
        password1Input = $(".form-group #password")
        password2Input = $(".form-group #confirm_password")

        function checkValidity(){
            let valid = false
            validCount = 0
            const containers = [$("#username-error"), $("#email-error"), $("#password1-error"), $("#password2-error")]
            
            containers.forEach(container => {
                validCount += container.hasClass("valid")?1:0
            });

            if(validCount == containers.length){
                document.querySelector(".submit-btn").disabled = false
            }
        }
        

    usernameInput.on("input",(e)=>{
        console.log(usernameInput.val())
        $.ajax({
            url: "/users/verify_username",
            type: "POST",
            data: {
                "username":usernameInput.val(), csrfmiddlewaretoken: "{{csrf_token}}"
            },
            success: function(res){
                console.log(res.status, res.message)
                if(res.status == "valid"){
                    $("#username-error").removeClass("invalid")
                     $("#username-error").addClass("valid")
                     
                }
                else if(res.status == "invalid"){
                    $("#username-error").removeClass("valid")
                    $("#username-error").addClass("invalid")


                }
                $("#username-error").text(res.message)
                checkValidity()
               
            }
        })
    })

        //email verification
        emailInput.on("input",(e)=>{
        console.log(emailInput.val())
        $.ajax({
            url: "/users/verify_email",
            type: "POST",
            data: {
                "email":emailInput.val(), csrfmiddlewaretoken: "{{csrf_token}}"
            },
            success: function(res){
                console.log(res.status, res.message)
                if(res.status == "valid"){
                    $("#email-error").removeClass("invalid")
                     $("#email-error").addClass("valid")
                     document.querySelector(".submit-btn")
                }
                else if(res.status == "invalid"){
                    $("#email-error").removeClass("valid")
                    $("#email-error").addClass("invalid")

                }
                $("#email-error").text(res.message)
                checkValidity()
               
            }
        })
    })

    password1Input.on("input",(e)=>{
        password = password1Input.val()
        $.ajax({
            url: "/users/verify_password",
            type: "POST",
            data: {
                "password":password1Input.val(),
                csrfmiddlewaretoken: "{{csrf_token}}",
            },
            success: function(res){
                console.log(res.status, res.message)
                if(res.status == "valid"){
                    $("#password1-error").removeClass("invalid")
                     $("#password1-error").addClass("valid")
                     //document.querySelector(".submit-btn")
                }
                else if(res.status == "invalid"){
                    $("#password1-error").removeClass("valid")
                    $("#password1-error").addClass("invalid")

                }
                $("#password1-error").text(res.message)
                checkValidity()
               
            }
        })
    })


    password2Input.on("input",(e)=>{
        password1 = password1Input.val()
        console.log(password2Input.val())
        $.ajax({
            url: "/users/verify_passwords",
            type: "POST",
            data: {
                "password1":password1Input.val(),
                "password2": password2Input.val(),
                csrfmiddlewaretoken: "{{csrf_token}}",
            },
            success: function(res){
                console.log(res.status, res.message)
                if(res.status == "valid"){
                    $("#password2-error").removeClass("invalid")
                     $("#password2-error").addClass("valid")
                     //document.querySelector(".submit-btn")
                }
                else if(res.status == "invalid"){
                    $("#password2-error").removeClass("valid")
                    $("#password2-error").addClass("invalid")

                }
                $("#password2-error").text(res.message)
                checkValidity()
               
            }
        })
    })

     
    })//end
    
</script>

        {% endblock not_content %}
        
   