{% extends "adventure/game.html" %}
{% load static %}

{% block content %}

<style>
    .fade-enter {
      opacity: 0;
      transform: scale(0.95);
    }
    .fade-enter-active {
      opacity: 1;
      transform: scale(1);
      transition: all 3s ease-in-out;
    }
    .fade-exit {
      opacity: 1;
    }
    .fade-exit-active {
      opacity: 0;
      transition: opacity 3s ease-in-out;
    }

   
  </style>

  <div class="mt-20 mb-8 h-screen p-4">
    <div id="findItemdApp" class="flex h-screen">
      <!-- Introduction Screen -->
      <div id="intro-screen" class="fade-enter-active mx-auto w-full max-w-md animate__slideInUp">
        <a class="text-orange-500 cursor-pointer mb-4" href="/adventure/game" onclick="showOverlay()">
            <i onclick="showScreen('intro-screen')" class="fas fa-arrow-left mr-2" ></i>
        </a>
        
        <div class="bg-gray-900 rounded-xl p-6 shadow-xl space-y-4 animate-scaleIn">
          <h1 class="text-2xl font-bold flex items-center gap-2">
            <svg class="w-6 h-6 text-orange-500" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2v6m8 4H6a2 2 0 01-2-2V6a2 2 0 012-2h7l5 5v11a2 2 0 01-2 2z" />
            </svg>
            {{mission.template}}
          </h1>
          <p class="text-sm text-gray-400">{{mission.template.long_tail_description}}.</p>
          <ul class="text-sm text-gray-500 list-disc pl-5">
            <li>Cible: {{mission.template.target}}</li>
            <!-- <li>Le bot utilisera des jutsus stratégiquement</li>
            <li>Ton adversaire sera selectionné de facon aléatoire</li> -->
            <li>Récompenses : XP(points de progression) + objets bonus</li>
          </ul>
          <button onclick="showScreen('collectScreen')" class="w-full bg-orange-600 hover:bg-orange-700 text-white py-2 rounded-xl font-semibold transition">Suivant</button>
        </div>
      </div>

      

    <!-- Bot Selection Screen -->
    <div id="loadingScreen" class="hidden h-full w-full fade-enter-active animate-scaleIn">
      <div class="flex flex-col items-center justify-center h-full space-y-6">
        <h2 class="text-2xl font-semibold text-gray-200">Chargement de la zone d'exploration...</h2>
        <div class="flex items-center space-x-4">
          <!-- Animated Character Cards -->
          <div class="w-24 h-24 bg-gray-700 rounded-full animate-pulse"></div>
          <div class="w-24 h-24 bg-gray-700 rounded-full animate-pulse"></div>
          <div class="w-24 h-24 bg-gray-700 rounded-full animate-pulse"></div>
        </div>
        <p class="text-sm text-gray-400">Ne pas quitter cette page</p>
      </div>
   </div>

      <!-- Battle Screen -->
      <div id="collectScreen" class="hidden mx-auto md:max-w-2xl h-full w-full fade-enter-active hide-scrollbar animate__fadeInLeftBig ">
        <div id="zoneContainer" class="relative w-full h-[40vh] map-container  contour-line-bg rounded-xl overflow-auto shadow-inner">
        </div>
      </div>
    </div>
    
  </div>

  <!-- Battle End Popup -->
<div id="battle-end-popup" class="hidden fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50 animate__slideInUp">
  <div class="bg-gray-900 rounded-lg p-6 max-w-md w-full text-center space-y-6 shadow-xl">
    <h2 id="battle-end-title" class="text-2xl font-semibold text-gray-200">Battle Ended</h2>
    <p id="battle-end-message" class="text-sm text-gray-400">Congratulations! You won the battle.</p>
    <div id="battle-reward" class="text-sm text-gray-300">
      <p>Rewards:</p>
      <ul class="list-disc list-inside">
        <li id="reward-xp">XP: 2</li>
        <li id="reward-items">Items: </li>
      </ul>
    </div>
    <div class="flex justify-center space-x-4" id="endActions">
      
    </div>
  </div>
</div>

  <script>
    

    const showScreen = (id) => {
      document.querySelectorAll('#findItemdApp > div').forEach(div => div.classList.add('hidden'));
      document.getElementById(id).classList.remove('hidden');
      //document.getElementById(id).classList.add('animate-scaleIn');
    };

    const goToCharacterSelect = () => showScreen('character-select-screen');
    const goToBotCharacterSelectionScreen = () => showScreen('bot-selection-screen');
    const goToBattleScreen = () => {showScreen('battle-screen'); $('.top-nav').toggle() };
    

    function initMission(){
        
            $.ajax({
            url : `/adventure/battles/mission/{{mission.id}}/init`,
            type : 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },
            data: {
                // 'action': 'init_battle',
                // 'character': playerCharacter,
            },
            beforeSend: function() {
                // Show loading spinner or overlay
                // document.getElementById('battle-log').innerHTML = '<p class="text-gray-600 dark:text-gray-300">Loading...</p>';
                goToBotCharacterSelectionScreen()
            },
            success: function(data) {
                // Hide loading spinner or overlay
                // document.getElementById('battle-log').innerHTML = data.battle_log;
                // console.log(data)
                
                const basicActions = [
                    { name: 'Attack', chakraCost: 10, bgColor: 'orange', icon: `
                    
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2 floatingx text-red-500" stroke="currentColor" stroke-width="2"  viewBox="0 0 48 48"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M24.18 42.5c4.5-3.65 11.36-7.11 11.36-21.86v-9.2c-4 0-7.49-1.88-11.4-3.48c-3.69 1.53-7.61 3.5-11.85 3.46v9.27C12.45 34.75 19 39 24.18 42.5Z"/><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M24.18 14.28a39.65 39.65 0 0 1-6.94 1.77c-.47 8.27 2.47 14 6.94 18.39C28.73 30 30.75 24 30.68 16.37a26.8 26.8 0 0 1-6.5-2.09Zm9.12 18.46c3.86 3 5.93 6.45 8 9.72a29.35 29.35 0 0 1-9.51-7.11m-17.23-2.94c-3.94 3.4-6.73 6.6-8.08 9.83c3.36-2 6.34-3.64 9.43-7.33M6.73 5.83l5.6 5.59m-.96-.96l3.27-2.79m-6.06 6.06l2.79-3.27m29.8-4.62l-5.59 5.6m.96-.96l2.79 3.27m-6.06-6.07l3.27 2.8"/></svg>
                    ` },
                    { name: 'Defend', chakraCost: 0, bgColor: 'gray', icon: `
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2 floatingx text-blue-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M12 2l9 4.5v5c0 5.25-3.75 9.75-9 11-5.25-1.25-9-5.75-9-11v-5L12 2z" />
                    </svg>
                    ` },
                    { name: 'Focus', chakraCost: 0, bgColor: 'blue', icon: `
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2 floatingx text-yellow-500"  viewBox="0 0 512 512"><path fill="currentColor" d="M179.813 20.72v81.25L135.78 75.624l17.564 46.938l-115.656-20.938l84.718 49.906H20v27.345l110.47 14.875l96.593-29.188c-11.303-11.87-18.594-30.743-18.594-52c0-35.926 20.87-65.062 46.624-65.062c25.753 0 46.625 29.136 46.625 65.063c0 20.847-7.038 39.375-17.97 51.28l99.03 29.907l112.5-15.156V151.53H394.19l84.718-49.905l-120.437 21.78l17.874-47.718l-48.656 29.126V20.72H179.813zM495.28 223.343l-112.5 22.437l-55.405-13.124l-28.03 118.313l16.592 145h51.688L329.25 351.22l46.53 27.842l-21.31-56.937l124.436 22.5l-91.125-53.688h107.5v-67.593zM20 223.75v67.188h108.813l-91.125 53.687L157.31 322.97L136.345 379l38.47-23l-28.595 139.97h48.155l12.905-144.41l-21.685-118.84l-55.125 13.06L20 223.75z"/></svg>
                    ` },
                    { name: 'Heal', chakraCost: 20, bgColor: 'green', icon: `
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2 floatingx text-green-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
                  </svg>
                    ` },
                    { name: 'Substitution', chakraCost: 5, bgColor: 'red', icon: `
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2 floatingx text-purple-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M9.75 9.75l-6.5 6.5m0 0L3 21l4.75-.25m-4.5-4.5l6.5-6.5m6.5 6.5l6.5-6.5m0 0L21 3l-4.75.25m4.5 4.5l-6.5 6.5" />
                    </svg>          
                    ` },
                ]

                const specialActions = data.player_character.jutsus.map(action => {
                    return { name: action.name, chakraCost: action.chakra_cost, bgColor: 'purple', icon: `
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2 floatingx text-red-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M14.752 11.168l-3.197-3.197m1.414-1.414a2.828 2.828 0 114 4L12 21l-4-4 7.97-7.97z" />
                    </svg>
                    ` };
                });

                CharacterActions = basicActions.concat(specialActions);
                fillActionButtons(CharacterActions);

                // Update character names and health bars
                document.getElementById('player-character').innerHTML = data.player_character.name;
                document.getElementById('bot-character').innerHTML = data.bot_character.name;
                
                const playerStats = {
                    current_hp: data.player_character.hp,
                    current_chakra: data.player_character.chakra,
                    hp:  100,      // Player HP as a percentage
                    health: data.player_character.health,
                    chakra: (data.player_character.chakra/data.player_character.chakra_pool) * 100,  // Player Chakra as a percentage
                    chakra_pool: data.player_character.chakra_pool,
                    stamina: 100, // Player Stamina as a percentage
                };

                const botStats = {
                    current_hp: data.bot_character.hp,
                    current_chakra: data.bot_character.chakra,
                    hp: 100,      // Bot HP as a percentage
                    health: data.bot_character.health,
                    chakra: (data.bot_character.chakra/data.bot_character.chakra_pool) * 100,  // Bot Chakra as a percentage
                    chakra_pool : data.bot_character.chakra_pool,
                    stamina: 100, // Bot Stamina as a percentage
                };

                updateCharacterImages(data.player_character.image, data.bot_character.image)
                updateStatBars(playerStats, botStats);

                const battleLogs = [
                ]
                
                battleLogs.forEach(log => {
                    updateBattleLog(log.text, log.type);
                });
                
                // Update the battle log with the initial message
                setTimeout(() => {
                    // document.getElementById('battle-log').innerHTML = data.battle_log;
                    goToBattleScreen()

                }, 2000);
                //goToBattleScreen() // 2 seconds delay for the bot selection screen
                

            },
            error: function(xhr, status, error) {
                // Handle error
                console.error('Error:', error);
                showMyToast('An error occurred while initializing the battle. Please try again.', 'error');
                goToCharacterSelect()
            }   
        })
        
        
    }


    function showBattleEndPopup(result, rewards) {
    const popup = document.getElementById('battle-end-popup');
    const title = document.getElementById('battle-end-title');
    const message = document.getElementById('battle-end-message');
    const rewardXp = document.getElementById('reward-xp');
    const rewardItems = document.getElementById('reward-items');
    const endActionsContainer = document.getElementById('endActions')

    // Update the popup content based on the result
    if (result === 'win') {
        title.textContent = 'Victory!';
        message.textContent = 'Congratulations! You won the battle.';
        endActionsContainer.innerHTML = `
            <button onclick="quitBattle()" class="bg-green-600 hover:bg-green-700 text-white py-2 px-4 rounded-3xl">Continuer</button>
        `;
        
    } else if (result === 'lose') {
        title.textContent = 'Defeat';
        message.textContent = 'You lost the battle. Better luck next time!';
        endActionsContainer.innerHTML = `
            <button onclick="restartBattle()" class="bg-green-600 hover:bg-green-700 text-white py-2 px-4 rounded-3xl">Recommencer</button>
            <button onclick="quitBattle()" class="bg-red-600 hover:bg-red-700 text-white py-2 px-4 rounded-3xl">Quitter</button>
        `;
    } else {
        title.textContent = 'Draw';
        message.textContent = 'The battle ended in a draw.';
    }

    // Update rewards
    rewardXp.textContent = `XP: ${rewards.xp}`;
    // rewardItems.textContent = `Items: ${rewards.items.join(', ')}`;

    // Show the popup
    popup.classList.remove('hidden');
}

function hideBattleEndPopup() {
    const popup = document.getElementById('battle-end-popup');
    popup.classList.add('hidden');
}

function restartBattle() {
    hideBattleEndPopup();
    const battleLog = document.getElementById('battle-log').innerHTML = ''; // Clear existing log entries
    updateBattleLog('Battle restarted. Choose your actions wisely!', 'info', new Date().toLocaleTimeString());
    initBattle(); // Redirect to character selection screen
}


function quitBattle() {
    hideBattleEndPopup();
    showOverlay()
    window.location.href = '/adventure/game'; // Redirect to battles page or home
}

  </script>


{% endblock content %}