.chats-container{
    .chat-list{
        .sender{
            background-color: cadetblue;
            color: aliceblue;
            padding: 1rem;
            margin: 10px 0;
            position: relative;
            b{
                position: absolute;
                right: 30%;
            }

        }
    }
}


.emoji-picker {
        display: none;
        position: absolute;
        bottom: 100%;
        right: 0;
        width: 200px;
        height: 150px;
        background-color: #1F2937;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 8px;
        overflow-y: auto;
    }
    
    .emoji-picker.active {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 8px;
    }
    
    .emoji-picker span {
        cursor: pointer;
        font-size: 1.2rem;
        text-align: center;
    }
    
    .emoji-picker span:hover {
        background-color: #374151;
        border-radius: 4px;
    }

